.change_format_profile p {
  color: #f88d2a;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.change_format .heading {
  background: #2fb68e;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  line-height: 20px;
  font-weight: 600;
}

.change_format_side_headings div {
  width: 200px;
  font-size: 16px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: 16px;
}

.form-control:placeholder-shown {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.change_format_side_headings p {
  padding: 0px 15px;
}

.change_format_side_headings .change_form_button {
  padding: 8px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #2fb68e;
  text-align: center;
  border: 1px solid #2fb68e;
  margin-right: 15px;
}

.change_format_side_headings {
  background: #f4f4f4;
  padding: 0px 0px 15px 0px;
}
.change_format_side_headings select {
    padding: 6px 12px;
    font-size: 16px;
  outline: none;    
}