@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.afternav {
  background-color: #2fb68e;
  padding: 15px 15px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  color: #ffffff;
  /* z-index: 1000; */
}


/* .afternav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "poppins";
} */

/* .afternav li:active {
  background-color: green;
} */

/* .afternav li {
  margin: 0 15px;
  text-decoration: none;
  font-family: "poppins";
} */

.navhead {
  text-decoration: none;
  font-family: "poppins";
  font-size: 15px;
  color: #efffff;
  font-weight: 500;
}

.navhead:hover {
  color: white;
  text-decoration: none;
}

/* Responsive adjustments for smaller screens */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content .listItems1 {
  color: #71737b;
  display: block;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  background-color: white;
  padding: 7px 16px;
}

.dropdown-content .listItems1:hover {
  color: #002970;
}

.listItems1 {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.navbar_user_data {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.navbar_last_login_time {
  font-size: 13px;
  font-weight: 300;
}


.logout_button {
  color: #efffff;
  padding: 3px 15px;
  background-color: #ebca28;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.active_navItem {
  background-color: #ebca28;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 15px;
}
.navbar_links{
  text-decoration: none;
  color: #ffffff;
}
.navbar_links:hover{
  color: #ffffff;
}