.changeuserid-profile p{
    color: #2fb68e;
    font-size: 24px;
    font-weight: 400;
    margin: 0;

}

.change-userid .change_user_id_heading_pera {
    background: #2fb68e;
    color: white;
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px;
    line-height: 20px;
    font-weight: 500;
}

.side-headings div {
    width: 200px;
    font-size: 16px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da !important;
    outline: 0;
    box-shadow: none !important;
    font-size: 16px;
  }

  .form-control:placeholder-shown {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da !important;
    outline: 0;
    box-shadow: none !important;
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
  }

  .side-headings1 p {
    padding:  8px;
  }

  .side-headings1 .change_update_button {
    padding: 8px;
    margin-left: 15px;

    
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    /* width: auto; */
    background: #2fb68e;
    display: inline;
    /* cursor: pointer;
    text-transform: uppercase;
    height: 24px!important; */
    text-align: center;
    border: 1px solid #2fb68e;
    /* padding-right: 8px!important;
    padding-left: 8px!important; */
    margin-right: 15px;
  }
  

  .side-headings1 {
    background: #f4f4f4;
    padding: 0px 0px 15px 0px;
}

.changeuserid-instructions p {
    font-size: 16px;
    color: red;
    margin-top: 1rem;
    margin-bottom: 4px;
} 

.changeuserid-instructions ol {
    padding: 0px 15px;
    font-size: 16px;
}
.change_user_id{
  margin-left: 10px;
}
.change_user_id_cpr{
  margin-left: 20%;
}
.change_user_id_cpr2{
  margin-left: 15%;
}
.change_user_id_cpr3{
  margin-left:  8%;
}