.personal_login .col-md-5 {
  padding: 100px 50px;
  color: #000;
  background-color: #faede2;
}

.personal_login .col-md-5 h2 {
  font-size: 25px;
  padding-bottom: 20px;
}
.personal_login .col-md-5 div {
  margin-top: 15px;
}
.personal_login .col-md-5 div h5 {
  font-size: 18px;
  margin-bottom: 0px !important;
}
.personal_login .col-md-5 div p {
  font-size: 13px;
  margin-bottom: 0px !important;
}
.personal_login .col-md-5 button {
  background-color: #fff;
  border: 1px solid #faede2;
  border-radius: 25px;
  padding: 8px 15px;
  margin-top: 20px;
}
.personal_login .col-md-7 {
  background-color: #fff;
  padding: 100px;
}
.personal_dont_password {
  font-size: 15px;
}
.personal_login .col-md-7 input {
  margin-top: 20px;
  height: 50px;
}
.personal_login .col-md-7 button {
  background-color: #f18121;
  border: 1px solid #f18121;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 20px;
}
.personal_login_pp p {
  font-size: 11px;
}

.login_nav {
  border-bottom: 1px solid #ddd !important;
}
