.changePassword-profile .change_password_heading3{
    color: #2fb68e;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;

}
.change_password_heading4{
  padding: 12px;

}
.change-password .change_password_heading4 {
    background: #2fb68e;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    line-height: 20px;
    font-weight: 500;
}
/* .change_password_divs{
  font-size: 18px;
  
} */
.side-headings label {
    /* width: 200px; */
    font-size: 16px;
}

.change_password_input:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da !important;
    outline: 0;
    box-shadow: none !important;
    font-size: 16px;
  }

  .change_password_input:placeholder-shown {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da !important;
    outline: 0;
    box-shadow: none !important;
    font-size: 16px;
  }
  .align-items-center{
    padding: 10px;
    font-size: 16px;
  }

  .change_password_input {
    font-size: 16px;
  }

  /* .side-headings p {
    padding: 0px 15px;
  } */

  .side-headings .change_password_button{
    padding:  8px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    background: #2fb68e;
    display: inline;
    /* cursor: pointer;
    text-transform: uppercase; */
    
    text-align: center;
    border: 1px solid #fff;
    /* padding-right: 8px!important;
    padding-left: 8px!important; */
    margin-right: 15px;
  }
  

  .side-headings {
    background: #f4f4f4;
    padding: 0px 0px 15px 0px;
}

.changepassword-instructions p {
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 4px;
} 

.changepassword-instructions ol {
    padding: 0px 15px;
    font-size: 16px;
}

