.generate-pin-heading  p{
    color: #2FB68E;
    font-size: 24px;
    font-weight: 400;
    margin: 0;

}

.generate-pin-text span{
    color: #252525c6;
    font-size: small;
    font-weight: 400;
    margin: 0;

}

.debit-card-content {

    float: left;
    /* background: #f4f4f0; */
    border: 1px solid #dfdfdf;
    margin: 15px 15px 0 0;
    padding: 10px;
    width: 100%;
}


.debit-card-content .generate_pin_button {
    padding: 8px 14px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    /* width: max-content; */
    background: #2FB68E;
    display: inline;
    /* cursor: pointer;
    text-transform: uppercase;
    height: fit-content; */
    text-align: center;
    border: 1px solid #2FB68E;
    border-radius: 5px;
    text-decoration: none;
}
/* .debit-card-content .generate_pin_button:hover{
    background-color: #A2E0CE;
    
} */
.debit-card-inner-content{
    margin: 35px 0px 8px 0px;
}