.credit_card_tabs_text{
    text-align: center;
    font-weight: 500 !important;
    font-size: 18px !important;
    cursor: pointer;
}
.nav-link.active.credit_card_tabs_text {
    background-color: orange !important;
}
.nav-link.credit_card_tabs_text{
    background-color: #f1eded !important;
    color: gray;
}
.nav-link.credit_card_tabs_text:hover{
    color: gray;
}

/* View Your Card */
.view_your_card_container{
    margin: 15px 0px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px #b2b9bf;
    padding: 25px 20px;
}
.primary_credit_card{
    width: 250px;
    border-radius: 5px;
}
.primary_card_text{
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.all_credit_cards_text{
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}
.all_credit_cards_container{
    /* background-color: #dad5d5; */
    background-color: #faede2;
    padding: 10px 0px;
    border-radius: 10px;
    height: 175px;
}
.all_credit_cards_slider{
  width: 250px;
  text-align: center;
}

.credit_card_limit_text{
    font-size: 18px;
    font-weight: 500;
    color: #7b7878;
}
.credit_card_limit_works_text{
    font-size: 18px;
    font-weight: 500;
    text-decoration: 1px underline;
    color: #7b7878;
}

.view_your_card_amount_cont{
    width: 250px;
}
.total_amount_due_icon{
    color: red;
    margin-right: 7px;
    font-size: 17px;
}
.current_outstanding_icon{
    color: orange;
    margin-right: 7px;
    font-size: 17px;
}
.available_credit_limit_icon{
    color: green;
    margin-right: 7px;
    font-size: 17px;
}
.credit_card_progress_text{
    color: #7b7878;
}

.credit_card_pay_bill_btn{
    border: none;
    outline: none;
    /* background-color: orange; */
    background-color: #f18121;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
}
.credit_card_due_date{
    font-weight: 410;
}

.credit_card_details_btns{
    padding: 7px 25px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #c6c6c6;
    color: #989898;
    background: transparent;
    font-weight: 410;
}
.credit_card_details_btns:hover{
    color: #fff;
    /* background-color: orange; */
    background-color: #f18121;
    border: 0px;
    transition: 0.8s;
}

.credit_card_manage_subscr_cont{
    /* background-color: #ebebeb; */
    background-color: #faede2;
    padding: 15px 20px;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 4px #b2b9bf;
}
.hand_holding_rupee_images_cont{
    width: 50px;
    height: 50px;
    border: 1px solid #3a3838;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.hand_holding_rupee_images{
    width: 40px;
    height: 40px;
}
.view_card_manage_subscrip_headings{
    font-weight: 410;
}
.manage_subscript_btns{
    border: none;
    outline: none;
    /* background-color: orange; */
    background-color: #f18121;
    color: #fff;
    padding: 7px 25px;
    border-radius: 20px;
}

/* Manage Your Card Limit*/
.manage_your_card_container{
    margin: 20px 0px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px #b2b9bf;
}
.manage_credit_limits_header{
    /* background-color: #e9e9e9; */
    background-color: #faede2;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.manage_credit_limits_heading{
    font-size: 18px;
    font-weight: 500;
}
.manage_credit_limits_icon{
    font-size: 20px;
    margin-right: 5px;
}

.manage_your_card_inner_cont{
    padding: 25px 20px;
}
.credit_cards_lists{
    border: none;
    outline: none;
    box-shadow: 1px 3px 4px rgb(95, 95, 95);
    padding: 7px 10px 5px 5px;
    border-radius: 5px;
}
.existing_credit_card_limit{
    font-weight: 410;
}
.credit_limit_generate_otp_btn{
    border: none;
    /* background-color: #b869e6; */
    background-color: #f18121;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
}

/* Manage Credit Card Usage */
.nav-link.active.card_usage_tabs_text {
    background-color: orange !important;
}
.nav-link.card_usage_tabs_text{
    background-color: #f1eded !important;
    color: gray;
}
.nav-link.card_usage_tabs_text:hover{
    color: gray;
}
.card_usage_tabs_cont{
    width: 35%;
}
.card_usage_tabs_text{
    text-align: center;
    font-weight: 500 !important;
    font-size: 16px;
    cursor: pointer;
}
.manage_credit_card_usage_cont{
    margin: 20px 0px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px #b2b9bf;
}
.manage_card_usage_container{
    padding: 25px 20px;
}

.credit_card_usage_table th{
    font-weight: 500;
}
.card_trans_limit{
    box-shadow: 0px 2px 4px #0c0909fc;
    width: 45%;
    padding: 3px 15px;
    border-radius: 5px;
}
.card_trans_limit_empty{
    box-shadow: 0px 2px 4px #0c0909fc;
    width: 45%;
    background-color: #e3e1e1;
    padding: 15px 15px;
    border-radius: 5px;
}

.toggle_switch_btn {
    background-color: #0b0a0a2b;
    border-radius: 100px;
    padding: 1px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 51px;
    height: 25px;
    box-shadow: rgb(240 205 18 / 95%) 0px 0px 5px inset, 
        rgb(219 225 12 / 58%) 0px 0px 0px 24px inset,
         #e4ea13 0px 0px 0px 0px inset, rgb(251 240 240 / 45%) 0px 1px 0px 0px;
} 
.toggle_switch_btn::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 28px;
    width: 21px;
    height: 21px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: rgb(180 175 175 / 62%) 0px 0px 5px inset, #908f89 0px 0px 0px 2px inset, #ffffff 0px 0px 0px 24px inset, rgb(135 130 130 / 45%) 0px 1px 0px 0px;    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
}
.toggle_switch input[type="checkbox"]:checked + .toggle_switch_btn {
    box-shadow: transparent 0px 0px 0px 2px, rgb(226 218 218 / 30%) 0px 6px 6px;
} 
.toggle_switch input[type="checkbox"]:checked + .toggle_switch_btn::after {
    left: 0px;
}
.toggle_switch input[type="checkbox"] {
    display: none;
}


.toggle_pay_switch_btn {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 51px;
    height: 25px;
    box-shadow: rgb(214 209 209 / 62%) 0px 0px 5px inset, 
        rgb(43 41 41 / 21%) 0px 0px 0px 24px inset, 
        #22cc3f 0px 0px 0px 0px inset, rgb(242 227 227 / 45%) 0px 1px 0px 0px;
} 
.toggle_pay_switch_btn::after {
    content: "";
    display: flex;
    top: 3px;
    left: 2px;
    width: 19px;
    height: 19px;
    background-color: #f9f5f5;
    border-radius: 200px;
    position: absolute;
    box-shadow: #848080 0px 0px 0px 2px, rgb(192 186 186 / 30%) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
} 
.toggle_pay_switch input[type="checkbox"]:checked + .toggle_pay_switch_btn {
    /* box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
          rgba(224, 224, 224, 0.45) 0px 1px 0px 0px; */
          box-shadow: rgb(240 205 18 / 95%) 0px 0px 5px inset, 
          rgb(219 225 12 / 58%) 0px 0px 0px 24px inset,
           #e4ea13 0px 0px 0px 0px inset, rgb(251 240 240 / 45%) 0px 1px 0px 0px;
}
.toggle_pay_switch input[type="checkbox"]:checked + .toggle_pay_switch_btn::after {
    left: 27px;
}
.toggle_pay_switch input[type="checkbox"] {
    display: none;
}

.card_usage_note_heading{
    font-weight: 410;
    font-size: 17px;
}
.card_usage_auth_trans{
    font-size: 18px;
    font-weight: 410;
}
.card_usage_otp_text{
    font-weight: 410;
    margin: 5px 0px;
}
.card_usage_otp_box{
    border: none;
    outline: 0px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    padding: 4px 10px;
    margin-right: 10px;
}
.card_usage_otp_notes{
    margin: 0px 0px;
    color: #7d7d7d;
}
.card_usage_submit_btn{
    border: 0px;
    /* background-color: orange; */
    background-color: #f18121;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;
}

/* Registeredbillers.css starts */


.registered_billers_card .card{
    border: none;
    background-color: #f8f9fa;
}

.registered_billers_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registered_billers_items{
    padding-top: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(241, 231, 231);
    background-color: #d8d5d1;
    color: #2fb68e;
    font-weight: 600;
}

.registered_biller_item{    
    padding : 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(241, 231, 231);
    background-color: #d8d5d1;
    color: #2fb68e;
    font-weight: 600;

}

.registered_billers_card h3{
    color: #2fb68e;
}

.registered_billers_card p{
    font-weight: 500;
}

.registered_billers_coloumn{
  padding-top: 15px;
   text-align: center;
   align-items:center;
   justify-content:center;
   border: 1px solid rgb(241, 231, 231);
}

.registered_biller_col{
    padding: 6px;
   text-align: center;
   align-items:center;
   justify-content:center;
   border: 1px solid rgb(241, 231, 231);
}

.registered_billers_buttons_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.registered_billers_download_button{
    border: none;
}
.registered_billers_biller_button{
    border: none;
    cursor: pointer;
    background: none ;
}
.registered_billers_biller_download{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registered_billers_select_tag{
    width: 280px;
}
.registered_billers_ok_buttton{
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 5px 14px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.registered_billers_ok_buttton:hover{
    color: #fff;
    background-color: #2fb68e;
}

.registered_billers_biller_download .registered_billers_select_tag:focus{
    border: none;
    padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      width: 100%;
}



/* Registeredbillers.css ends */


/* ConvertToEmi.css starts */


.convert_to_emi_card h3{
    color: #2fb68e;
}


.convert_to_emi_button{
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 5px 14px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.convert_to_emi_button:hover{
    background-color:  #2fb68e;
    color: #fff;
}

.convert_to_emi_row{
    text-align: justify;
    align-items: center;
}

/* ConvertToEmi.css ends */


/* ConvertToEmiSubmit.css starts */

.convert_to_emi_submit_button h3{
    color: #2fb68e;
}

.convert_to_emi_submit_button .card{
    border: none;
}

.convert_to_emi_items{
    padding-top: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(241, 231, 231);
    background-color: #d8d5d1;
    font-weight: 700;
    color: #2fb68e;
}

.convert_to_emi_ref{
    padding : 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(241, 231, 231);
    font-weight: 700;
    background-color: #d8d5d1;
    color: #2fb68e;
}

.convert_to_emi_coloumn{
    padding-top : 15px;
    text-align: center;
    align-items:center;
    justify-content:center;
    border: 1px solid rgb(241, 231, 231);
}

.convert_to_emi_date{
    padding: 1px 5px;
    padding-top:15px;
    text-align: center;
    align-items:center;
    justify-content:center;
    border: 1px solid rgb(241, 231, 231);
}

.convert_to_emi_faqs{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.convert_to_emi_button_convert{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.convert_to_emi_button_submit{
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 10px 18px;
    outline: none;
    font-size: 14px;
      font-weight: 600;
    border-radius: 10px;
}

.convert_to_emi_button_submit:hover{
    color: #fff;
    background-color: #2fb68e;
}
/* ConvertToEmiSubmit.css ends */



/* AutoDebitInstructions.css starts */

.auto_debit_instructions h3{
    color: #2fb68e;
}


.auto_debit_instructions_card{
    border: none;
    
}

.auto_debit_buttons{
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 5px 14px;
    outline: none;
    font-size: 14px;
      font-weight: 600;
    border-radius: 10px;
}

.auto_debit_buttons:hover{
    background-color: #2fb68e;
    color: #fff;
}

.auto_debit_instructions_card .form-control:focus{
    border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}
/* AutoDebitInstructions.css ends */

/* virtual credit card css starts */

.virtual_credit_card .card {
    border: none;
    font-weight: 400;
    font-family: Poppins;
}

.virtual_credit_card .card .virtual_credit_card_details {
    font-weight: 600;
    font-size: 15px;
}

.virtual_credit_card_warning {
    background-color: #ffc492;
    padding: 5px;
    border-radius: 8px;
}

.virtual_credit_card .red_cross_img {
    width: 25px;
    height: 25px;
}

.virtual_credit_card .download_details {
    float: right;
}

.virtual_credit_card_input {
    width: 250px;
    padding: 4px;
    box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #CDCDE7;
    outline: none;
    padding-left: 5px;
}

.virtual_credit_card .ok_Btn {
    border-radius: 4px;
    background-color: #ffc492;
    border: 1px solid #f18121;
    color: #f18121;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    width: 40px;
}

.virtual_credit_card_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* virtual credit card css ends */

/* Billing cycle change css starts */

.billing_cycle .card {
    border: none;
    font-weight: 400;
    font-family: Poppins;
}

.billing_cycle .request_heading{
    color: #f18121;
}

.billing_cycle .card .billing_cycle_details {
    font-weight: 600;
    font-size: 15px;
}

.billing_cycle .billing_cycle_input {
    width: 250px;
    padding: 4px;
    box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #CDCDE7;
    outline: none;
    padding-left: 5px;
}

.billing_cycle .submit_Btn{
    outline: none;
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 80px;
  }

  .billing_cycle .reset_Btn{
    border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 60px;
  }

  .billing_cycle .billing_cycle_notes {
    font-size: 15px;
    color: #808080;
    font-weight: 500;
}

  /* Billing cycle change css ends */

  /* generate credit-pin css starts */

.generate_credit_pin .card {
    border: none;
    font-weight: 400;
    font-family: Poppins;
}

.generate_credit_pin .generate_credit_pin_heading {
    background-color: #ffc492;
    color: #f18121;
}

.generate_credit_pin .card .generate_credit_pin_details {
    font-weight: 600;
    font-size: 15px;
}

.generate_credit_pin .credit_card_input {
    width: 230px;
    padding: 4px;
    box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #CDCDE7;
    outline: none;
    padding-left: 5px;
}

.generate_credit_pin .mandatory_field {
    font-size: 14px;
}

.generate_credit_pin .otp_container {
    font-size: 14px;
}

.generate_credit_pin input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.2);
    cursor: pointer;
}

.generate_credit_pin .submit_Btn {
  outline: none;
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 80px;
}

/* generate credit-pin css ends */

/* Block Credit Card css Starts */

.Block_Credit_Card_Section .custom-select:focus {
    
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .Block_Credit_Card_Section span
  {
    font-weight: 410
  }
  .Block_Credit_Card_submitBtn
  {
    width: auto;
    height: auto;
    outline: none;
    border: none;
    /* background-color: rgb(37, 184, 62); */
    border-radius: 2px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
    font-size:14px;
    text-align: center;
    background-color: #f18121 ;
    
  }
  .blockcreditcard_note p{
    font-size:13px;
   font-weight:400;
   padding-left:5px;
  }
/* Block Credit Card css emds */

/* Alert Subscription css starts*/
.alert_subscription-form .custom-select:focus {
    
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .alert_subscription-form .form-control:focus {
    /* border-color: inherit; */
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .alert_subscription-form span{
    font-weight:420;
    font-size:15px;
}
.alert_subscription-form label
{
    margin-top: 15px;
    font-weight:500;
}
.alert_Subscription_ResetBtn
{
    width: auto;
    height: auto;
    outline:none;
    border:1px solid rgba(92, 92, 89, 0.5);
    background-color:#e4e3e1;
    border-radius: 2px;
    font-weight:600;
    font-size:14px;
    text-align: center;
}
.alert_Subscription_SubmitBtn
{
    width: auto;
    height: auto;
    outline: none;
    border: none;
    /* background-color: rgb(37, 184, 62); */
    border-radius: 2px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
    font-size:14px;
    text-align: center;
    background-color: #f18121 ;
}
.alert_Subscription_Notes p
{
   font-size:13px;
   font-weight:400;
   padding-left:5px;
}
/* Alert Subscription css ends*/

/* Physical PIN css starts */
.physicalPIN_MainContainer .custom-select:focus {
    
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .physicalPIN_MainContainer span
  {
    font-weight: 410
  }
.PhysicalPin_notes p{
    font-size:13px;
   font-weight:400;
   padding-left:5px;
  }
.physicalPin_SubmitBtn
{
    width: auto;
    height: auto;
    outline: none;
    border: none;
    /* background-color: rgb(37, 184, 62); */
    border-radius: 2px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
    font-size:14px;
    text-align: center;
    background-color: #f18121 ;
}
.physicalPIN_heading_Section
{
    display: flex;
   justify-content: space-between;
}



/* Physical PIN css ends */

/* view last credit css starts */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.viewcredit_icon{
    font-size:8px;
    margin-right:15px;
}
.viewcredit_heading{
    color:#f18121;
}
.viewcredit_btn{
    background-color:#fac294;
    color: #f18121;
    border: none;
    
}
.viewcredit_input:focus {
    outline: none;
}
.viewcredit_input{
    width:30%;
    font-size: small;
   
}

.viewcredit_card1{
   background-color:#faede2!important;
   padding: 15px;
   color:#f18121!important;
}
.viewcredit_card2{
    background-color: #fbf5f0!important;
}
.viewcredit_card3{
    padding: 25px 100px;
    background-color: white;
}

.viewcredit_btn1{
    background-color: #fac294;
    color:#f18121;
    border: none;
    border-radius: 4px;
}
.viewcredit_para{
    margin-bottom: -50px;
}




  .viewcredit_dropdown-symbol {
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
 

  .viewcredit_input {
    padding-right: 25px; 
  }


 .viewcredit_dropdown-container{
    position: relative;
    display: inline-block;
  }
 .ciewcredit-icondropdown{
    margin-left:-70px;
    padding-right: 60px;
 }

.viewcredit_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .viewcredit_input {
    width: 30%;
    font-size: small;
  }
  
  .ciewcredit-icondropdown {
    margin-left: -70px;
    padding-right: 60px;
    cursor: pointer;
  }
  
  .viewcredit_dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 0; 
  }
  
  .viewcredit_dropdown_content div {
    padding: 12px 16px;
    color: #333;
    cursor: pointer;
  }
  
  .viewcredit_dropdown_content div:hover {
    background-color: #ddd;
  }
  
  .viewcredit_dropdown:hover .viewcredit_dropdown_content {
    display: block;
  }
  
/* view last credit css ends */

/* rewards css starts */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.rewards_startheading{
    color: #f18121;
}


.rewards_img1{
    width:100%;
    transform: rotate(-20deg);
    margin-top: -30px;
    
    
}
.rewards_img2{
    width:100%;
    transform: rotate(-8deg);
    margin-left:-50px;
    margin-top: -30px;
    
    
}
.rewards_img3{
    width:100%;
    transform: rotate(30deg);
    margin-left:-80px;
    margin-top: -30px;
    
}
.rewards_img4{
    width:100%;
    height:100%;
    margin-top: -30px;
    
}
.rewards_main{
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
}


/* rewards css ends */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* forex card css starts here */
.forex_button{
    border:none;
    color: #f18121;
    background-color: #faede2;
    width:150px;
    height:35px;
   border-radius: 10px;
   font-family: 'poppins';
   margin-left: 65px;
   padding-top: 6px;
   
    
}
.forex_button2{
    border:none;
    color:  #f18121;
    background-color: #faede2;
    width:150px;
    height:35px;
   border-radius: 10px;
   font-family: 'poppins';
   margin-left: 65px;
   padding-top: 6px;
   
    
}
.forex_button3{
    border:none;
    color:  #f18121;
    background-color: #faede2;
    width:150px;
    height:35px;
   border-radius: 10px;
   font-family: 'poppins';
   margin-left: 70px;
   padding-top: 6px;
   
    
}
.forex_button4{
    border:none;
    color:  #f18121;
    background-color: #faede2;
    width:150px;
    height:35px;
   border-radius: 10px;
   font-family: 'poppins';
   margin-left: 65px;
   padding-top: 6px;
   
   
    
}
.forexcard_heading{
    background-color:navy;
    color: white;
    padding: 10px;
    font-family: 'poppins';
    display: flex;
    justify-content: space-around;
    margin-left:10px;

}

.forexcard-title{
    font-family: 'poppins';
    margin-left: 15px;
}
.forexcard-title2{
    font-family: 'poppins';
    margin-left: 5px;
    margin-top: 15px;
    
}
.forexcard-title3{
    font-family: 'poppins';
    margin-left: 15px;
}
.forexcard-title4{
    font-family: 'poppins';
    margin-left: 15px;
}
.forex_img{
    width:340px;
    height:190px;
    border-radius: 30px;
    padding:20px;    
    
           
}
.forex_img2{
    width:250px;
    height:170px;
    border-radius: 30px;
    margin-left: 15px;
    padding:20px;
      
}
.forex_img3{
    width:330px;
    height:160px;
    margin-left: 10px;
    padding:20px;
   
        
}
.forex_img4{
    width:250px;
    height:170px; 
    margin-left: 25px; 
    padding:20px;
      
}
.forex_gst{
    font-family: 'poppins';
    padding-left: 25px;
}

/* forex card css ends here */

/* prepaid card css starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* prepaid card css starts here */
.prepaidcard_id{
    background-color: #f8f9fe;
    font-family: 'poppins';
}
.prepaidcard_heading{
    background-color: #faede2;
    font-family: 'poppins';
}

.prepaid_card{
background-color: rgb(249, 247, 252);
font-family: 'poppins';
}
.prepaidcard_button{
    border: none;
    background-color: #faede2;
    color: #f18121;
    font-family: 'poppins';
}
/* prepaid card css ends here */

/* merchant standing instructions css ends here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* merchant css starts here */
.merchant_heading{
    color: #f18121;
    font-family: 'poppins';
    
}
.merchant_list{
    background-color: #f8f9fa;
    color: black;
    display: grid;
    text-align: center;
    font-family: 'poppins';
    text-align: left;
    
}
.merchant_checkbox{
    margin-left:2px;
    font-family: 'poppins';
}

.merchant_button1{
    margin-left: 15px;
    border:none;
    color: #f18121;
    background-color: #faede2;
    border-radius: 10px;
    font-family: 'poppins';
    
    
}
.merchant_button{
    border:none;
    color: #f18121;
    background-color: #faede2;
    margin-left: 10px;
    border-radius: 10px;
    font-family: 'poppins';

}
/* merchant css ends here */