.accounts_nick_name .form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: 16px;
}
.accounts_nick_name .form-control:placeholder-shown {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: 16px;
}
.nicknames_heading{
  font-size: 18px;
}
.accounts_nick_name .nicknames_heading {
  color: #4a4a4a;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.714286px;
  margin-bottom: 14px;
  margin-top: 14px;
}

.accounts_nick_name .nicknames_table_content td {
  /* background-color: #f2f3f2; */
  width: 100%;
  font-size: 16px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: none;
}



.accounts_nick_name .nicknames_table_head {
  /* background-color: #f2f3f2; */
  width: 100%;
  font-size: 16px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: 0 1.90246px 4.75615px #a8b4bf;
}


.accounts_nick_name .nicknames_table_head .nicknames_table_headings th {
  padding: 10px;
  background-color: #2fb68e;
  color:white;
  /* width: 30%; */
  font-weight: 500;
}

.accounts_nick_name .nicknames_table_head .nicknames_table_content td {
  padding: 10px 8px;
  width: 23%;
  color: #4a4a4aeb;
}

.nicknames_table_headings th:first-child,
.nicknames_table_content td:first-child {
  width: 10% !important;
}
.nick_name_input{
  font-size: 16px;
}
.nick_name_input:hover{
  font-size: 16px;
}


.nicknames_icon_button {
  background: none;
  border: none;
  
}

.nicknames_submit_button {
  padding: 0px 15px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.1rem;
  background: #2fb68e;
  display: inline;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #2fb68e;
  /* padding-right: 8px!important;
    padding-left: 8px!important; */
}
