.payment_transactionlimit_Container
{
    border:1px solid rgb(228, 223, 223);
   
    border-radius: 2px;
}
.payment_transactionlimit_mainheading{
    background-color: #a2e0ce;
    padding:10px;
    font-weight: 420;
    
}
.payment_transactionlimit_section{
    padding:10px;
}
.transaction_update_btn{
    padding: 8px 14px;
    font-weight: 600;
    font-size: 12px;
    color: #11664d;
    width: max-content;
    background: #ffff;
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    height: fit-content;
    text-align: center;
    border: 1px solid #2FB68E;
    border-radius: 5px;
}
.transaction_update_btn:hover{
    background-color: #A2E0CE;
}