.payment_transactionlimit_Container
{
    border:1px solid rgb(228, 223, 223);
    border-radius: 2px;
}
.payment_transactionlimit_mainheading{
    background-color: #2FB68E;
    padding:10px;
    color: white;
    font-weight: 420;
    
}
.credit_card_limit_range{
    font-size: 16px;
}
.credit_card_limit_range:hover{
    font-size: 16px;
}
.payment_transactionlimit_section{
    padding:10px;
}
.transaction_update_btn{
    padding: 8px 14px;
    font-weight: 600;
    font-size: 16px;
    background-color: #2FB68E;
    color: white;
    display: inline;
    text-align: center;
    border: 1px solid #2FB68E;
    border-radius: 5px;
}
