.accounts_admin_home .form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}
.accounts_admin_home .form-control:placeholder-shown {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}

.accounts_admin_home .admin_home_heading {
  color: #4a4a4a;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.714286px;
  margin-bottom: 14px;
  margin-top: 14px;
}

.accounts_admin_home .admin_home_table_content td {
   /* background-color: #f2f3f2; 
   width: 100%;  */
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: none;
}

.accounts_admin_home .admin_home_table_head {
  /* background-color: #f2f3f2; */
  width: 100%;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: 0 1.90246px 4.75615px #a8b4bf;
}

.accounts_admin_home .admin_home_table_head .admin_home_table_headings th {
  padding: 15px 8px;
  background-color: #2fb68e;

  color: white;

  /* width: 30%; */
  font-weight: 600;
  color:white
}

.accounts_admin_home .admin_home_table_head .admin_home_table_content td {
  padding: 8px;
  /* width: 23%; */
  color: #4a4a4aeb;
}

/* .admin_home_table_headings th:first-child,
.admin_home_table_content td:first-child {

  width: 10% !important; 
} */


.admin_home_icon_button {
  background: none;
  border: none;
}

.admin_home_submit_button {
  padding: 0px 15px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.1rem;
  background: #2fb68e;
  display: inline;
  cursor: pointer;
  text-transform: uppercase;

  text-align: center;
  border: 1px solid #2fb68e;
  /* padding-right: 8px!important;
      padding-left: 8px!important; */
}
.accounts_admin_home table {
  border-spacing: 0px;
}

.admin_home_Add_customer {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  width: auto;

  background: #2fbe92;

  display: inline;
  cursor: pointer;
  text-transform: uppercase;

  text-align: center;

  border: 1px solid #2fbe92;

  /* padding-right: 8px!important;
      padding-left: 8px!important; */
}

.accounts_admin_home h1{
  font-size: 24px;
  color: #ebca28;
  font-weight: 400;
}


/* cheque book request admin css starts */

.chequebook_admin_home .form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}
.chequebook_admin_home .form-control:placeholder-shown {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}
.chequebook_admin_home .chequebook_admin_home_heading{
  color: #4a4a4a;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.714286px;
  margin-bottom: 14px;
  margin-top: 14px;
}
.chequebook_admin_home .admin_chequebook_content td {
  /* background-color: #f2f3f2; 
  width: 100%;  */
 font-size: 13px;
 color: #383838;
 

 box-shadow: none;
}
.chequebook_admin_home .admin_Chequebook_table_head {
  /* background-color: #f2f3f2; */
  width: 100%;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: 0 1.90246px 4.75615px #a8b4bf;
}
.chequebook_admin_home .admin_Chequebook_table_head .admin_chequebook_table_headings th {
  padding: 5px 5px;
  background-color: #2fb68e;

  color: white;
text-align: center;
  /* width: 30%; */
  font-weight: 600;
  color:white
}
.chequebook_admin_home .admin_Chequebook_table_head .admin_chequebook_content td {
  padding: 5px;
  /* width: 23%; */
  color: #4a4a4aeb;
  text-align: center;
  
}

.admin_chequebook_searchbtn
{
  
  padding: 7px 14px;
  font-weight: 600;
  font-size: 11px;
  border:1px solid;
  border-radius: 5px;
  color:#147558;
  background-color: #A2E0CE;
  
}
.admin_chequeBook_pagination {
  /* Add your custom styles for pagination here */
  /* For example: */
  
  outline: none; 
  border: none; 
  box-shadow: none;
  background-color: #FFFFFF;
 
}
.admin_chequeBook_pagination nav{
  box-shadow: none;

}

.pagination
{
  margin-left: 70vh;
}

.admin_chequeBook_pagination .pagination li.page-item.active {
  outline: none; 
  border: none; 
  background-color: #4fb697;
} 

.admin_chequeBook_pagination .pagination li.page-item button {
  
  outline: none; 
  border: none; 
}
.admin_chequeBook_pagination .page-item.active .page-link{
  background-color: #2fb68e;
  border-color: none;
  outline: none;
  border: none;
  color: #fff; /* Set text color to white for better visibility */
  
}
.admin_chequebook_status{
  font-weight: 500 !important;
  color: #2FB68E !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  font-size: 25px !important;
  font-family: poppins !important;
  }
  
/* cheque book request admin css ends */
