/* maypayee css starts */

.mypayee_navmain{
  display: flex;
  
  list-style-type: none;
  text-align: center;
  font-size: 13px;
  background-color: rgb(236, 236, 236);
  height: 8vh;
}
.mypayee_heading{
  color: #f18121;
  font-size: x-large;
}
.mypayee_navmain li{
  cursor: pointer;
  border-left: 1px solid white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypayee_buttonon{
  color: #f18121;
  border-bottom: 2px solid #f18121;
}
.mypayee_content{
  background-color: rgb(251, 250, 250);
}
.mypayee_text{
  display: flex;
  height: 20vh;
  align-items: center;
}
.mypayee_addmain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  height: 15vh;
}
.mypayee_input{
  width: 65%;
  display: flex;
  border: 1px  solid rgb(76, 74, 74);
  align-items: center;
  height: 30px;
  padding-left: 2%;
  background-color: white;
  
}
.mypayee_input1{
  width: 100%;
}
.mypayee_input22{
  border: none;
  background-color: transparent;
  width: 100%;
  margin-left: 2%;
}
.mypayee_input22:focus{
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.mypayee_addbtn{
  width: 160px;
  height: 30px;
  background-color: #faede2;
  color: #f18121;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.mypayee_search{
  color: #f18121;
}
.mypayee_icons{
  font-size: large;
}
.mypayee_icons3{
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
}
.mypayee_icons4{
  font-size: xx-large;
}
.mypayee_click{
  text-decoration: underline;
  color: #f18121;
}


/* mypayee css ends */

/* overseas css starts */
.overseas_path{
  display: flex;
  justify-content: space-around;
  font-family: 'poppins';
}
.overseas-row1{
  background-color:lightgray    ;
  margin-top: 5%;
  padding: 10px;
  font-family: 'poppins';
 
}
.overseas_bank{
  color: orange;
}
.overseas_sign{
  color: orange;
  
}
.overseas_add-path{
  display: flex;
  font-family: 'poppins';
}
/* overseas css ends */



/* completedtransactionspage.css */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.completed-transactions-page {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 30%; */
}
.empty-header {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
}

.transaction-container {
  width: 65%;
  margin: auto;
  padding: 50px;
  background-color:#f8f9fa;
  color: #f18121;
}

.transaction-heading {
  width: 100%;
  /* height: 150px; */
  background-color: #faede2;
  padding: 10px;
}

.transaction-heading h1 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.left-side {
  margin-left: 45%;
  width: 100vh;
}

.search-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-section label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.search-section input,
.search-section select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  width: 12%;
  height: 40px;
  background-color: #ff8c00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dwn-file {
  margin-left: 55%;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.dwn-file select {
  width: 50%;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.dwn-file button {
  height: 40px;
  width: 45px;
  font-size: 17px;
  background-color: #ff8c00;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.trs-note {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.text {
  color: red;
}

/* .row input {
  width: 220px;
} */

/* completed transaction ends */


/* paymentSummaryPage.css starts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.payment-container {
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: auto;
  background-color: #f8f9fa ;

}

.header-box {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 130px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #faede2;
}

.payment-summary-page h1 {
  color: lightcoral;
  font-size: 35px;
  padding: 5px;
}

.header-box h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #000;
}
.header-box p{
  font-size: 20px;
  margin-top: 15px;
}

.payment-radios label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
  color: #f18121;
}
.payment-radios {
  display: flex;
  flex-direction: column;
  margin-left: 330px;
  justify-content: end;
}
.payment-header{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* paymentSummaryPage.css ends*/


/* calendar.css starts*/

/* Updated calendar.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.calandar-main {
  width: 100%;
  max-width: 100%;
  color:#f18121;
  line-height: 1.125em;
  
}

.calendar-container {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 25px;
  margin-top: 8px;
  /* border: solid black 1px; */
  background-color:  #faede2;
}

.calendar-container:enabled:hover,
.calendar-container:enabled:focus {
  background-color:  #faede2;
}

.calendar-container[disabled] {
  background-color: #f0f0f0;
}
/* 
abbr[title] {
  text-decoration: none;
} */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 100px;
  font-weight: bold;
  color: #6f48eb;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 100px;
  font-weight: bold;
  color: #6f48eb;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #f18121;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: #faede2;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f18121;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #faede2;
  color:#f18121;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

.calandar_text_center{
  margin: 10px;
  font-size: 20px;
}
.react-calendar{
  width: 100% !important;
  background-color:  #faede2;
}
.calendar_text_center{
  text-align: center;
  padding: 10px;
}
 /* calendar.css ends*/

 /* WireTransaction.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wire-transaction-container {
    padding: 0px 0px 5px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: #faede2;
    color:  #f18121;
  }
  
  .wire-transaction-container h1 {
    font-size: 20px;
  }
  .wire-transaction-container header {
    height: 50px;
    width: 100%; /* Adjusted width to account for margin */
    padding: 10px;
    margin-right: 15px;
    padding-left: 5px;
    background-color: #faede2;
    padding-top: 10px;
    color: #000;
}

  .transaction-form {
    display: flex;
    flex-direction: column;
  }
  
  .transaction-form label {
    margin-bottom: 8px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .transaction-form input,
  select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .transaction-form button {
    padding: 12px;
  background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  /* wire-transfer ends */

  /* Upi transaction starts css*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  *{
    font-family: Poppins;
  }
  .upi_transaction_range{
    justify-content: space-around;
    display: flex;
    align-items: center;
     Background-color : #f8f9fa
  }
  .upi_transaction_date{
     Background-color : #f8f9fa}
  .upi_transaction_node{
   Background-color : #f8f9fa
  
  }
  .upi_transaction_value{
    border-radius:5px;
    padding: 5px;
    border: none;
    
    background-color:#f18121
  
  }
  /* upi transaction css ends*/
  
  /* /quickfund tranfer starts css/ */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  
  *{
    font-family: Poppins;
  }
  .quickfund_transfer_note{
     Background : #faede2;
     color:#f18121;
     ;
  }
  
  .quickfund_transfer_code{
     Background-color : #f8f9fa}
  .quickfund_transfer_node{
     Background-color : #f8f9fa;
    
    
    }
  .quickfund_transfer_turn{
      border-radius:5px;
       background-color : #faede2;
  
    border: none;
  }
  .quickfund_transfer_join{
      border-radius:5px;
      background-color : #faede2;
  
  
    
    border: none;
  }
  /* quickfund transfer ends */
  
  /* /get retrivev mmiv css starts/ */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  
  *{
    font-family: Poppins;
  }
   .generate_retrive_code{
    background-color : #faede2
  } 
   .generate_retrive_node{
    color : #f18121}
   .generate_retrive_mern{
     background-color : #f18121   ;
           border-radius:5px;
           padding: 5px;
           border: none;
         }
         /* /get retrive css ends/ */
         /* manage payee stars */
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.buttons_managepay{
    margin-Right:'5px';
    height: 38px;
    margin-right: 5px;
    width: 90px;
    font-size: 14px;
    background-color: rgb(247, 144, 10);
    border-width: 0.5px;
    color: rgb(241, 236, 236);
    margin-top: 5px;
    font-family: "poppins";
    border: none;
    align-items: center;
   
    
}
.manage_payee{
    background-color: rgb(230, 238, 238);
    font-family: "poppins";
    height: 130px;
}
.content_managepay{
    width:500px ;
    font-family: "poppins";
    font-weight: 400;
    padding-left: 5px;
    padding-top: 5px;
}
.btn-text{
    display: flex;
    padding: 0px  0px 0px 20px;
    
}
.headers_manage{
   font-family: "poppins";
}

/* manage payee ends */

/* InwardRemitance CSS Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 /* *{
  font-family: 'Poppins';
 } */
 /* .inwardbank-header{
  height: 10vh;
 } */

 .Inward_Remitance_container{   
  text-align: left;
  padding: 20px 20px;
  border-radius: 8px;
 }
 .Inward_smart_wire_ptag{
  font-size: 20px;
 }
 .bankingapp_inward_ptag{
  font-style: italic;
  font-size: small;
  font-weight: 300;
  }
  .Inwbenifits_tag_hfive{
    color: #f08080;
  }
  .inward_ullist{
    display: flex;
  }
  .inward_remitance_flex{
    list-style-type: none;
     font-size: 12px;
    justify-content:  left ;
    text-align: left;
    margin-left: -38px;
     margin-right: 50px;
    }
    .inward_span_tag_main{
      font-size: 12px;
      font-weight:500;
      }
      .icons_inwardrem{
        color: #ffa7a7;width: 30px;
      margin-bottom:30px;
     }
     .Inward_box_type_border{
      margin-top: 0px;
    }
    .Inward_box_type_select{
      margin: 0px 0px ;
    }
   .Inward_pink_box_request{
    color: #f08080;
    border: 1px solid rgb(230, 228, 228);
    border-right: none;
    background-color: #fff6f6;
    }
    .Inward_four_main_lists{
      color: #000f00;
     }
     .Inward_four_lists{
      font-size: small;
    }
    .one_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 11px;
      color: #f08080;
      padding: 4px 11px;
     }
     .two_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 10px;
      color: #f08080;
      padding: 4px 10px;
     }
     .four_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 10px;
      color: #f08080;
      padding: 4px 10px;
     }
     .Inward_pink_side_box{
      border: 1px solid rgb(230, 228, 228);
      border-left: none;
     }
     .Inward_part_two{
      display: flex;
      flex-direction: row;
     }
     .Inward_sel_Inacct_numbr{
      width: 180px;
      margin-left: 20px;
      background-color: #f1ecec;
      height: 23px;
       outline: none;
      font-size: small;
      padding: 0px 0px;
    }
.inward_submit_app {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    /* width: 40%; */
    font-size: smaller;
    cursor: pointer;
      border: none;
    border-radius: 4px;
  }
  .inward_submit_app:hover {
    background-color: #2980b9;
  } 
 
  /* InwardRemitance CSS Ends */

  /* Tax Center css Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  font-family: 'Poppins';
} */
.tax_centerbank_page {
     padding: 20px 20px;
  }
   
  
  .tax_center_options_pfull {
    margin-top: 10px;
     text-align: left;
     margin-left: 50px;
  }
  .ptag_view_yag_center{
    font-size: small;
  }
  
  .user_authenti_tax_header{
    margin-top: 30px;
    text-align: left;

  }
  .user_header_tax_color{
    color: #fcb99b;
     font-size: 20px;
  }
  .Tax_hrline_box_shadow{
    box-shadow:   1px 1px 3px rgb(141, 91, 91);
    border: none;
  }
  .light_bg_color_tax{
    background-color: #f0f0f0;
   }
  .ptag_tax_center{
     padding: 5px 10px;
     font-weight: 400;
    background-color: #e7e6e6 ;
    color: #000;
  }
  .Tax_ptag_please_para{
    font-size: small;
    font-weight:  400;
  }
  .otp_button_Tax_icon{
    display: flex;
    flex-direction: row;
  }
  .otp_Tax_div_label{
    display: flex;
    flex-direction:column;
    width: 150px;
    outline: none;
    height: 24px;
    /* width: 200px; */
    }
    .but_Tax_on_icon_otp{
      border: 1px solid rgb(207, 203, 203);
      margin: 0px 5px;
      height: 25px;
      width: 30px;
      padding:1px 1px;
  }
  .otp_tax_matters{
    font-weight:300;
    font-size: 12px;  
     }
.Tax_click_here_span{
  text-decoration: underline;
  cursor: pointer;
 }
  .Tax_center_but_app {
    margin-bottom: 10px;
    padding: 8px;
     color: #fff;
    cursor: pointer;
     font-size: small;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
  }
  .but_Tax_on_icon_otp{
    border-radius: 5px;
     color: #979595;

  }
  .but_Tax_on_icon_otp:hover{
    background-color: #f7f0f0;
    color: #666565;
  }
  
  .Tax_center_but_app:hover {
    background-color: #3498db;
     border: none;
     
  } 
  .Tax_center_but_app:focus{
    outline: none;
    border: none;
  }
  
  /* Tax Center CSS Ends  */
  /* MyTransaction CSS Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  font-family: 'Poppins';
 } */

.My_sch_transaction{
  text-align: left;
  padding: 20px 20px;
  }
  .sub_heading_myschedule_trans_htag{
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
  }
  .main_my_scheduled_tran{
    color:  #d19071;
    font-size: 20px;
    font-weight: 400;
  }
  .my_Sch_tag_line{
    border: 1px solid  #c3ccc3;
   padding: 10px;
   font-size: small;
   margin-top: 5px;
 }
 .my_main_header_transch{
  background-color: #fcf9f9;
 }
.search_section_mainheader_mytran{
  margin-top: 10px;
  background-color: #e9e6e6;
     padding: 10px 10px;
}
.myalabel_trans_type_sch{
  display: flex;
  flex-direction: row;
}
.mya_sch_transaction_Type{
  margin-left: 10px;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
}
.my_Tatransaction_Type{
  margin-left:10px;
  margin-top: 10px;
    height: 20px;
    outline: none;
    font-size: smaller;
   width: 150px;
}
.mya_sch_searchbtn{
  margin:0px 8px ;
  border: none;
  outline: none;
  cursor: pointer;    
  font-size: small;
}
.mya_Trasch_download_detail{
  display: flex;
   flex-direction: row;
  text-align: right;
  justify-content: right;
}
.my_sch_tra_label_downl{
  margin-right: 5px;
 font-size: small;
margin-top: 0px;
}
  .my_tran_sel_downl{
    margin-right: 10px;
    width: 150px;
    outline: none;
    font-size: smaller;
    height: 20px;
   }
  .My_transac_download_ok_button{
    background-color: #ff7d31;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    width: 35px;
    font-size: smaller;
    height: 20px;
    border: none;
  }
  
  /* MyTransaction CSS Ends */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* interest & TDS certificate css Start */

.interest_container_fluid {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  font-family: 'Poppins', sans-serif;
}

.interest_certificate_all {
  padding: 5%;

}

.interest_certificate_baground {
  padding: 3%;
}

.interest_certificate_heading5 {
  background-color: #faede2;
  padding: 10px;
}

.interest_all_forms{
  margin-left: 20px;
}
.inerest_selection_form:focus {
  border-color: initial;
  box-shadow: none;
}

.interest_period:focus {
  border-color: initial;
  box-shadow: none;
  outline: none;
}


.interest_from_account {
  padding-top: 4%;
}

.interest_form_label_radio {
  padding-top: 25px;
}

.interest_form_label_radio_period {
  padding-top: 3%;
}

.btn_interest_button:focus {
  outline: none;
  border-color: initial;
  box-shadow: none;
}

.btn_interest_button {
  outline: none;
  overflow: hidden;
  background-color: #f18121;
  font-weight: 500;
  color: white;
}

.btn_interest_button:hover {
  color: white;
}

.interet_buuton {
  padding-top: 50px;
  text-align: center;
  color: white;
}

.inerest_heading6 {
  padding-top: 5%;
}

.interest_startdata {
  padding: 2%;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;

}

.interest_enddate {
  padding: 2%;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}



/* interest & TDS certificate css end */

/* Disclaimer css start */
.Disclaimer_container_fluid{
  box-sizing: border-box;
  padding: 20px;
  overflow: none;
  font-family: 'Poppins', sans-serif;
  
}
.Disclainer_pera{
  padding: 5%;
  padding-top: 10%;
}
.Disclainer_border{
  border: 1px solid black;
  padding: 3%;
  border-radius: 15px;

}
.Disclainer_border_heading5{
  text-align: center;
  color: #f18121;
}
.Disclaimer_button{
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.btn_Disclaimer_button{
  background-color: #f18121;
  font-weight: 500;
  border-style: none;
  color: white;
}
.btn_Disclaimer_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}
.btn_Disclaimer_button:hover{
  color: white;
}

/* Disclaimer css end */

/* Tax Payment css start */
.TaxPayment_container_fluid{
  box-sizing: border-box;
  padding: 20px;
  overflow: none;
  font-family: 'Poppins', sans-serif;
}
.TaxPayment_all{
  padding: 7%;
}

.TaxPayment_border{
  border: 1px solid black;
  border-radius: 15px;
}
.TaxPayment_pera{
padding: 2%;
}

.TaxPayment_pera_heading5{
  text-align: center;
  color: #f18121;
}

.taxpayment_button{
  font-weight: 500;
  text-align: center;
 
}

.btn_taxpayment_button{
  background-color: #f18121;
  color: white;
  
}

.btn_taxpayment_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}

.btn_taxpayment_button:hover{
  color: white;
}

.TaxPayment_note{
  padding: 10px;
}

/* Tax Payment css end*/

/* Income Tax css start*/
.incometax_container_fluid{
  box-sizing: border-box;
  padding: 20px;
  overflow: none;
 
  font-family: 'Poppins', sans-serif;
  
}
.incometax_account{
  padding: 5%;
}

.incometax_filling{
  padding: 3%;
}
.incometax_filling_heading4{
  background-color: #faede2;
  padding: 1%;
  
}

.incometax_information:focus{
  border-color: initial;
  box-shadow: none;
}
.incometax_from_account{
  padding: 2%;
}
.incometax_panNumber{
padding: 2%;
}

.btn_incometax_button{
  margin: 4%;
  background-color: #f18121;
  font-weight: 500;
  color: white;
}
.btn_incometax_button:hover{
  color: white;
}
.btn_incometax_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}

/* Income Tax css end*/


.money_request{
  display: flex;
}

.money_request_2{
  margin-left: 100px;
}