/* maypayee css starts */

.mypayee_navmain{
  display: flex;
  
  list-style-type: none;
  text-align: center;
  font-size: 13px;
  background-color: rgb(236, 236, 236);
  height: 8vh;
}
.mypayee_heading{
  color: #2fb68e;
  font-size: x-large;
}
.mypayee_addpayeelink{
  text-decoration: none;
}

.mypayee_navmain li{
  cursor: pointer;
  border-left: 1px solid white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypayee_buttonon{
  color: #2fb68e;
  border-bottom: 2px solid #2fb68e;
}
.mypayee_content{
  background-color: rgb(251, 250, 250);
}
.mypayee_text{
  display: flex;
  height: 20vh;
  align-items: center;
}
.mypayee_addmain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  height: 15vh;
}
.mypayee_input{
  width: 65%;
  display: flex;
  border: 1px  solid rgb(76, 74, 74);
  align-items: center;
  height: 30px;
  padding-left: 2%;
  background-color: white;
  
}
.mypayee_input1{
  width: 100%;
}
.mypayee_input22{
  border: none;
  background-color: transparent;
  width: 100%;
  margin-left: 2%;
}
.mypayee_input22:focus{
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.mypayee_addbtn{
  width: 160px;
  height: 30px;
  border: 1px solid #2fb68e;
  background-color: transparent;
  color: #2fb68e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.mypayee_addbtn:hover{
  border: 1px solid #ebca28 ;
  color: #ebca28;
}
.mypayee_search{
  color: #2fb68e;
}
.mypayee_icons{
  font-size: large;
}
.mypayee_icons3{
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
}
.mypayee_icons4{
  font-size: xx-large;
}
.mypayee_click{
  text-decoration: underline;
  color: #2fb68e;
  cursor: pointer;
}
.mypayee_quick_details{
  height: 50px;
  background-color: #faede2;
  color: #f18121;
  display: flex;
  align-items: center;
}
.mypayee_quick_inputs{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.mypayee_quick_input1{
  border:none;
  border-bottom: 1px solid #000;
}
.mypayee_quick_input1:focus{
  outline: none;

}
.mypayee_quick_buttons{
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}
.mypayee_quick_backbtn{
  border: 1px solid #f18121;
  background-color: transparent;
  color: #f18121;
  font-size: small;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.mypayee_quick_proceedbtn{
  background-color:#faede2 ;
  color: #f18121;
  font-size: small;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
}
.mypayee_quick_input1::-webkit-outer-spin-button,
.mypayee_quick_input1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* mypayee css ends */

/* overseas css starts */
.overseas_path{
  display: flex;
  justify-content: space-around;
  font-family: 'poppins';
}
.overseas-row1{
  background-color:#f8f9fa   ;
  margin-top: 5%;
  padding: 10px;
  font-family: 'poppins';
 
}
.overseas_bank{
  color: orange;
}
.overseas_sign{
  color: orange;
  
}
.overseas_add-path{
  display: flex;
  font-family: 'poppins';
}
/* overseas css ends */



/* completedtransactionspage.css */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.completed_transactions_head{
  color: #2fb68e;
}
.completed_transactions_type{
  background-color: #2fb68e;
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.completed_transaction_search{
  width:480px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed_transaction_select1{
  height: 30px;
  width: 250px;
  font-size: 16px;
  outline: none;
  padding:1%;
}
.completed_transaction_select1 option:hover{
  background-color: #2fb68e;
}
.completed_transaction_cont1{
  display: flex;
}
.completed_transaction_inputdate{
  height: 30px;
  font-size: 16px;
  outline: none;
  padding-left: 3%;
  border: none;
  background: transparent;
}
.completed_transaction_inputdate1{
  border-radius: 5px;
  height: 30px;
  width: 250px;
  font-size: 16px;
  outline: none;
  padding-left: 3%;
  padding-right: 3%;
  border: 1px solid lightgray;
}
.completed_transaction_search1{
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%
}
.completed_transaction_get{
  border: 1px solid #2fb68e;
  background: #2fb68e;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  display: flex;
  align-items: center;

}
.completed_transaction_ok{
  background: #2fb68e;
  color: #fff;
  border-radius: 5px;
  font-size: small;
  height: 30px;
  display: flex;
  align-items: center;
  border: none;
}
.completed_transaction_ok:hover{
  background-color: #ebca28;
}

.completed_transaction_details{
  display: flex;
  justify-content: flex-end;
}
.completed_transaction_details1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.completed_transaction_date1{
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 1px solid lightgray;
  align-items: center;
  padding-right: 2%;
  width: 250px;
  border-radius: 5px;
  height: 30px;


}
.completed_transaction_date2{
  cursor: pointer;
  pointer-events: none;
}

/* completed transaction ends */


/* paymentSummaryPage.css starts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.payment_summary_pending{
  display: flex;
  justify-content: space-between;
  width: 330px;
  align-items: center;
  height: 85px;
  font-size: small;
}
.payment_summary_valid{
  opacity: 0.6;
}
.payment_summary_cont1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  background-color: rgb(247, 246, 246);
}
.payment_summary_list1{
  list-style-type: none;
}
.payment_summary_dot1{
  color: #ebca28;
}
.payment_summary_dot2{
  color: rgb(249, 69, 3);
}
.payment_summary_dot3{
  color: rgb(11, 11, 241);
}
.payment_summary_head{
  color: #2fb68e;
}
.payment_summary_cont3{
  display: flex;
}
.payment_summary_cont2{
  display: flex;
  margin-top: 8%;
}
.react-calendar{
  border: 1px solid lightgray;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-radius: 50%;
  background-color: #2fb68e;
  color:white;
}


/* paymentSummaryPage.css ends*/

 /* WireTransaction.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wire-transaction-container {
    background-color: #faede2;
    padding: 15px;
    margin-right: 20%;
   
  }
  
  .wire-transaction-caontainer-heading {
    font-size: 20px;
    padding: 10px;
    padding: 10px;
    background-color: #2fb68e;
    color: white;
  }


  .transaction-form {
    display: flex;
    flex-direction: column;
  }
  
  .transaction-form label {
    margin-bottom: 8px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .transaction-form-input,
  select {
 
    width: 200px;
    padding: 4px;
    box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #cdcde7;
    outline: none;
    padding-left: 5px;   

  }

  
  .transaction-form-button {
    padding: 7px;
    background-color: #2fb68e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  /* wire-transfer ends */

  /* Upi transaction starts css*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  *{
    font-family: Poppins;
  }
  .upi_transaction_range{
    justify-content: space-around;
    display: flex;
    align-items: center;
     Background-color : #2fb68e;
  }
  .upi_transaction_date{
     Background-color : #f8f9fa;
    color: #2fb68e;}
  .upi_transaction_node h6{
   
   color: #2fb68e;
  
  }
  .upi_transaction_value{
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 5px 14px;
    outline: none;
    font-size: 14px;
      font-weight: 600;
    border-radius: 10px;
  
  }
  .upi_transaction_value:hover{
    background-color: #2fb68e; 
    color: #fff; 
    border-radius: 10px;
  }
  .upi_transaction_q{
    color: #2fb68e;
  }
  /* upi transaction css ends*/
  
  /* /quickfund tranfer starts css/ */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  
  *{
    font-family: Poppins;
  }
  .quickfund_transfer_code{
  
  color: #2fb68e;
     
  }
  .quickfund_transfer_node h4{
    background-color: #2fb68e;
    color: #fff;
  }
  .quickfund_transfer_turn {
    color: #2fb68e;
    border: 1px solid #2fb68e;
    background-color: transparent;
    padding: 5px 14px;
    outline: none;
    font-size: 14px;
      font-weight: 600;
    border-radius: 10px;
  }
  
  .quickfund_transfer_turn:hover{
    background-color: #2fb68e; 
    color: #fff; 
    border-radius: 10px;
  }
  .quick_fund_transfer_paragraph{
    font-size: 15px;
    display: flex;
    flex-direction: row;
  
  }
  .quick_fund_tranfer_p{
    color: #2fb68e;
  }
  /* quickfund transfer ends */
  
  /* otppage.css starts */

.quick_fund_transfer_button_logos{
  font-size: 20px;
}


/* .quick_fund_transfer_button{ */

.generate_debit_pin_button{

  color: #2fb68e;
  border: 1px solid #2fb68e;
  outline: none;
  align-items: center;
  background-color: none;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.quick_fund_transfer_para{
  font-size: small;
  font-weight:  400;
}

.quick_fund_transfer_icon{
  display: flex;
  flex-direction: row;
}

.quick_fund_transfer_div_label{
  display: flex;
  flex-direction:column;
  width: 150px;
  outline: none;
  height: 24px;
  /* width: 200px; */
  }

  .quick_fund_transfer_icon_otp{
    border: 1px solid rgb(207, 203, 203);
    margin: 0px 5px;
    height: 25px;
    width: 30px;
    padding:1px 1px;
}


.quick_fund_buttons {
  color: #2fb68e;
  border: 1px solid #2fb68e;
  background-color: transparent;
  padding: 5px 14px;
  outline: none;
  font-size: 14px;
    font-weight: 600;
  border-radius: 10px;
}
.quick_fund_submits {
  color: #2fb68e;
  border: 1px solid #2fb68e;
  background-color: transparent;
  padding: 5px 14px;
  outline: none;
  font-size: 14px;
    font-weight: 600;
  border-radius: 10px;
}

/* .limit_exceed.css starts */

.limit_exceed_exclamation{
  font-size: 40px;
  color: red;
}
.limit_exceed_para{
  font-size: 25px;
  margin-top: 5px
}

.limit_exceed_turn {
  color: #2fb68e;
  border: 1px solid #2fb68e;
  background-color: transparent;
  padding: 5px 14px;
  outline: none;
  font-size: 14px;
    font-weight: 600;
  border-radius: 10px;
}

.limit_exceed_turn:hover{
  background-color: #2fb68e; 
  color: #fff; 
  border-radius: 10px;
}
/* .limit_exceed.css ends */


/*otppage.css ends */
  
  /* /get retrivev mmiv css starts/ */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  
  *{
    font-family: Poppins;
  }
   .generate_retrive_code{
    /* background-color : #faede2 */
  } 
   .generate_retrive_node{
    color : white;
    background-color: #2fb68e;

  }
  .generat_mmd_input{
    outline: none;
    box-shadow: none;
  }
   .generate_retrive_mern{
     background-color : #2fb68e;
     border: 1px solid #2fb68e;
           border-radius:5px;
           color: white;
           padding: 5px;
           border: none;
         }
         /* /get retrive css ends/ */
         /* manage payee stars */
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


       .manage_payee_all_buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .manage_payee_buttons{
        border: 1px solid #2fb68e;
        background: none;
        outline: none;
        padding: 5px 14px;
        border-radius:  10px;
        white-space: nowrap;
      }
      
      .manage_payee_buttons:hover {
        background-color: #2fb68e;
        color: #fff;  
      }
      
      .manage_payee_paragaph_button{
        margin-left: 5px;
        margin-top: 10px;
      }
      
      .manage_payee_cards_width .card{
        height: 22vh;
      }
      .manage_payee_cards_width h6{
        color: #2fb68e;
      }
      .manage_pay_cards_manage h5{
        color: #2fb68e;
      }
      .manage_pay_cards_manage h4{
        background-color: #2fb68e;
        color: #fff;
      }
      
      

/* manage payee ends */
/*confirm biller css starts*/
.confirm_biller_tags{
  align-items: center;
}

.confirm_biller h6{
  color: #2fb68e;
  }
.confirm_biller{
    background-color: #2fb68e;
    color: #fff
  }

.confirm_biller_buttons{
  background: none;
  outline: none;
  border: none;
}

.confirm_biller_buttons_tag_account{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.confirm_biller_buttons_account{
  border: 1px solid #2fb68e;
  background: none;
  outline: none;
  padding: 5px 14px;
  border-radius:  10px;
  white-space: nowrap;
}
.confirm_biller_buttons_account:hover{
  background-color: #2fb68e;
  color: #fff;  
}

.confirm_biller_buttons_accounting{
  border: 1px solid #2fb68e;
  background: none;
  outline: none;
  padding: 5px 16px;
  border-radius:  10px;
  white-space: nowrap;
}
.confirm_biller_buttons_accounting:hover{
  background-color: #2fb68e;
  color: #fff;  
}

/*confirm biller css ends*/

/* InwardRemitance CSS Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 

 .Inward_Remitance_container{   
  text-align: left;
  padding: 20px 20px;
  border-radius: 8px;
 }
 .Inward_smart_wire_ptag{
  font-size: 20px;
 }
 .bankingapp_inward_ptag{
  font-style: italic;
  font-size: small;
  font-weight: 300;
  }
  .Inwbenifits_tag_hfive{
    /* color : #f18121 ; */
    /* color: #ebca28; */
    
    font-weight: 500;
    /* color: #2fb68e; */
     
  }
  .inward_ullist{
    display: flex;
    margin-left: 10px;
  }
  .inward_remitance_flex{
    list-style-type: none;
     font-size: 12px;
    justify-content:  left ;
    text-align: left;
    margin-left: -38px;
     margin-right: 50px;
    }
    .inward_span_tag_main{
      font-size: 12px;
      font-weight:800;
      /* color : #f18121; */
      color: #ebca28;
      /* color: #2fb68e; */

      }
      .icons_inwardrem{
        /* color : #f18121; */
        /* color: #93ecd2; */
        /* color: #2fb68e; */
        color: #ebca28;
        width: 30px;
      margin-bottom:30px;
     }
     .Inward_box_type_border{
      margin-top: 0px;
      margin-left: 10px;
    }
    .Inward_box_type_select{
      margin: 0px 0px ;
    }
   .Inward_pink_box_request{
    /* color : #f18121; */
    color: #020202;
    border: 1px solid rgb(230, 228, 228);
    border-right: none;
      /* background-color:#faede2 ; */
      background-color: #fff1ad;
      /* background-color: #93ecd2; */

    }
    .Inward_four_main_lists{
      color: #000f00;
     }
     .Inward_four_lists{
      font-size: small;
    }
    .one_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 11px;
      /* color: #f08080; */
      color: #ebca28;
      padding: 4px 11px;
     }
     .two_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 10px;
      /* color: #f08080; */
      color: #ebca28;
      padding: 4px 10px;
     }
     .four_inward{
      border: 1px solid rgb(250, 206, 206);
      border-radius: 50%;
       background-color: #fff;
       margin-right: 10px;
      /* color: #f08080; */
      color: #ebca28;
      padding: 4px 10px;
     }
     .Inward_pink_side_box{
      border: 1px solid rgb(230, 228, 228);
      border-left: none;
     }
     .Inward_part_two{
      display: flex;
      flex-direction: row;
     }
     .Inward_sel_Inacct_numbr{
      
      margin-left: 5px;
      /* background-color: #f1ecec; */
      /* background-color: #ebca28; */
      /* background-color: #fff1ad; */
     
       outline: none;
      font-size: 16px;
      
    }
    .ptag_inward_acct_num{
      font-size: small;
      margin-top: 2px;
    }
.inward_submit_app {
    padding: 10px;
    background-color: #faede2;
    color : #f18121;
     font-size: smaller;
    cursor: pointer;
      border: none;
    border-radius: 4px;
  }
  .inward_submit_app:hover {
    background-color: #fde2ca;
  } 
 
  /* Inward form transfer */
 
 
.Inward_remittance_Request_Form_one{
  /* font-size: large; */
  font-weight: 500;
}
.Inward_remittance_Request_Form_one_Sub{
  /* font-size: medium; */
   margin-top: 10px;
  /* font-weight: 500; */ 
  /* font-size: large; */
  font-weight: 500;
}
.Inward_remittance_Request_one{
  /* font-size: large; */
  /* margin-top: 20px; */
  font-weight: 500;
  }
  


/* Styles for form labels */
.Inward_remittance_Request_Label {
  margin-top: 5px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
 }
 .Inward_remittance_Request_form_Option{
  margin-top: -32px;
  margin-left: 20px;
 }
.inward_remittance_fields_Row{
  display: flex;
flex-direction: row;
}
.Inward_remittance_row_two{
    margin-left: 200px;
}
/* Styles for input fields */
.Inward_remittance_Request_input_form {
  width: 300px; 
  padding: 4px;
  margin-top: 2px;
  border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
  box-sizing: border-box;
}
.Inward_remittance_Request_input_form_check{
  outline: none;

}
.Inward_remittance_Request_form_ptag_Del{
  padding: 0px 5px;
  margin-top: 15px;
 }
.Inward_remittance_Request_form_ptag_Pur{
margin-top: -20px;
}
.inward_review_accuracy_form{
  display: flex;
  flex-direction: row;
}
 .Inward_remittance_Request_form_checkbox {
  display: flex;
  margin-top: -20px;
  margin-bottom: 0px;
  align-items: center;
 }

 
.acctnum_inward_head{
  font-size: 16px;
}

/* Styles for submit button */
 

/* Styles for submit button */
.Inward_remittance_Request_form_ptag{
  padding: 10px 10px;
  border: 1px solid #2fb68e;
  font-size: 16px;
  /* background-color:  #f18121 ; */
  background-color: #2fb68e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* .Inward_remittance_Request_form_ptag:hover{
  
  background-color: #07b17e;
  color: #000;
  width: 100%;
  font-size: smaller;
  padding: 10px 10px;


} */



  /* InwardRemitance CSS Ends */

  /* Tax Center css Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.tax_centerbank_page {
     padding: 20px;
  }
   
  
  .tax_center_options_pfull {
    /* margin-top: 10px; */
     text-align: left;
     margin-left: 50px;
  }
  .ptag_view_yag_center{
    font-size: 14px;
  }
  
 
  .user_header_tax_color{
     padding: 8px;
     font-size: 20px;
      color: #2fb68e;

  }
 
  .ptag_tax_center{
     padding: 5px;
    background-color: #2fb68e;
    color: white;
  }
  .Tax_ptag_please_para{
    font-size: 16px;
   
  }
  .otp_button_Tax_icon{
    display: flex;
    flex-direction: row;
  }
  .otp_Tax_div_label{
    display: flex;
    flex-direction:column;
    border: 1px solid #ccc;
    padding: 4px;
    width: 200px;
    font-size: 14px;
    outline: none;

    }

    .but_Tax_on_icon_otp{
      border: 1px solid rgb(207, 203, 203);
      margin: 0px 5px;
      height: 25px;
      width: 30px;
      padding:1px 1px;
  }
  .otp_tax_matters{
    font-weight:300;
    font-size: 12px;  
     }
.Tax_click_here_span{
  text-decoration: underline;
  cursor: pointer;
 }
  .Tax_center_but_app {
    margin-bottom: 10px;
    padding: 8px;
     color:white;
     /* background-color:#f5b176 ; */
     background-color: #2fb68e;
    /* cursor: pointer; */
     font-size: 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
  }
  /* .Tax_center_but_appGen:hover{
  background-color: #07b984be;
  } */
  .Tax_center_but_appGen{
    margin-bottom: 10px;
    padding: 8px;
     color:white;
     /* background-color:#f5b176 ; */
     background-color: #2fb68e;
    /* cursor: pointer; */
     font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
  }
  .but_Tax_on_icon_otp{
    border-radius: 5px;
     color: #979595;

  }
  .but_Tax_on_icon_otp:hover{
    background-color: #f7f0f0;
    color: #666565;
  }
  
 
  .Tax_center_but_app:focus{
    outline: none;
    /* border: none; */
  }
  
  /* Tax Center CSS Ends  */

 .card-button {
  background: #2fb68e;
  color: white;
  border: 1px solid #2fb68e;
  padding: 5px;
  border-radius: 3px;
 }




.bill_recharge_button{
  color: #2fb68e;
   padding: 25px;
   width: 100%;
  cursor: 'pointer';
  border-radius: 5px;
  color: #2fb68e;
  background-color: transparent;
  height: 30px;
  border: 1px solid #2fb68e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;

}
.bill_recharge_button:hover{
  color: white;
  background: #2fb68e
}
.bill_recharge_button2{
  color: white;
  background: #2fb68e
}




/* MyTransaction CSS Starts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  font-family: 'Poppins';
 } */
.Transaction_type_Table_row{
   font-size: 12px;
   background-color: #2fb68e;
   color: white;
   width: 200%;
}
.Transaction_type_row_data{
  font-size: 14px;
}
.My_sch_transaction{
  text-align: left;
  padding: 20px 20px;
  }
  .sub_heading_myschedule_trans_htag{
   
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
  }
  .main_my_scheduled_tran{
    
    color:"#2fb68e";
  }
  .my_Sch_tag_line{
    border: 1px solid  #c3ccc3;
   padding: 10px;
   font-size: small;
   margin-top: 5px;
 }
 .my_main_header_transch{
  background-color: #fcf9f9;
 }
.search_section_mainheader_mytran{
  margin-top: 10px;
  /* background-color: #faede2; */
/* background-color: #ebca28; */
background-color: #2fb68e;
color: white;
      padding: 5px 10px;
}
.myalabel_trans_type_sch{
  display: flex;
  flex-direction: row;
}
.mya_sch_transaction_Type{
  margin-left: 10px;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.my_Tatransaction_Type{
  margin-left:10px;
   margin-top: 10px;
   padding: 15px;
    /* height: 25px; */
    padding: 0px 10px;
    font-size: 16px;
    outline: none;
    /* width: 0px; */
}
.mya_sch_searchbtn{
  margin:0px 8px ;
  outline: none;
  padding: 5px;
  background-color: #2fb68e;
  border-radius: 5px; 
  border: 1px solid #2fb68e;  
  color: white; 
  font-size: 16px;
}

.mya_Trasch_download_detail{
  display: flex;
   flex-direction: row;
  text-align: right;
  justify-content: right;
}
.my_sch_tra_label_downl{
  margin-right: 7px;
 font-size: 16px;
 margin-top: 3px;
}
  .my_tran_sel_downl{
    margin-right: 10px;
    padding: 15px;
    padding: 0px 5px;
    outline: none;
    font-size: 16px;
    /* height: 25px; */
   }
  .My_transac_download_ok_button{
    /* background-color:  #f18121; */
    background-color: #2fb68e;
    border: 1px solid #2fb68e;
    color: #fff;
    border-radius: 3px;
    width: 35px;
    padding: 0px 2px;
    font-size: 16px;
    border: none;
  }
  
  /* MyTransaction CSS Ends */


/* interest & TDS certificate css Start */

.interest_container_fluid {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 10vh; */
  font-family: 'Poppins', sans-serif;
}

.interest_certificate_all {
  padding: 5%;

}

.interest_certificate_baground {
  padding: 3%;
}

.interest_certificate_heading5 {
  background-color: #2fb68e;
  color: white;
  padding: 10px;
}

.interest_all_forms{
  margin-left: 20px;
}
.inerest_selection_form:focus {
  border-color: initial;
  box-shadow: none;
}

.interest_period {
  border-color: initial;
  box-shadow: none;
  padding: 3px;
  border: 1px solid #ccc;
  outline: none;
}


.interest_from_account {
  padding-top: 4%;
}

.interest_form_label_radio {
  padding-top: 25px;
}

.interest_form_label_radio_period {
  padding-top: 3%;
}

.btn_interest_button {
  margin: 4%;
  outline: none;
  text-align: center;
  background-color: #2fb68e;
   border: 1px solid #2fb68e;
  border-radius: 4px;
  font-size: 16px;

  color: white;
  padding: 8px;
  margin-left: 40%;
  margin-right: 40%;
  
}

/* .btn_interest_button:hover {
  color: white;
  background-color: #2fb68e;
} */
  

.inerest_heading6 {
  padding-top: 5%;
}

.interest_startdata {
  padding: 2%;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;

}

.interest_enddate {
  padding: 2%;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

/* interest & TDS certificate css end */

/* Disclaimer css start */
.Disclaimer_container_fluid{
  /* box-sizing: border-box; */
  /* padding: 20px; */

  font-family: 'Poppins', sans-serif;
  
}
/* .Disclainer_pera{
  padding: 5%;
 
} */
.Disclainer_border{
  border: 1px solid black;
  padding: 3%;
  border-radius: 15px;
  
}

.Disclainer_border_heading5{
  text-align: center;
  color: #ebca28;
}
.Disclaimer_button{
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.btn_Disclaimer_button{
  border-radius: 1px solid #2fb68e;
  background-color: #2fb68e;
  font-weight: 500;
  border-style: none;
  color: white;
}
.btn_Disclaimer_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}
/* .btn_Disclaimer_button:hover{
  color: white;
  background-color: #2fb68e;
} */

/* Disclaimer css end */

/* Tax Payment css start */
.TaxPayment_container_fluid{
  box-sizing: border-box;
  padding: 20px;
  overflow: none;
  font-family: 'Poppins', sans-serif;
}
.TaxPayment_all{
  padding: 7%;
}

.TaxPayment_border{
  border: 1px solid black;
  border-radius: 15px;
}
.TaxPayment_pera{
padding: 2%;
}

.TaxPayment_pera_heading5{
  text-align: center;
  color: #ebca28;
}

.taxpayment_button{
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
  color: #2fb68e;
  margin-left: 45%;
}
.taxpayment_button:hover{
  color: white;
  background-color: #2fb68e;

}

.btn_taxpayment_button{
  border: 1px solid #2fb68e;
  cursor: pointer;
  color: #2fb68e;
  text-align: center;
}

.btn_taxpayment_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}

.btn_taxpayment_button:hover{
  color: white;
  background-color: #2fb68e;
}

.TaxPayment_note{
  padding: 10px;
}

/* Tax Payment css end*/

/* Income Tax css start*/
.incometax_container_fluid{
  box-sizing: border-box;
  padding: 20px;
  overflow: none;
 
  font-family: 'Poppins', sans-serif;
  
}
.incometax_account{
  padding: 5%;
}

.incometax_filling{
  padding: 3%;
}
.incometax_filling_heading4{
  background-color: #2fb68e;
  color: white;
  padding: 1%;
  
}

.incometax_information:focus{
  border-color: initial;
  box-shadow: none;
}
.incometax_from_account{
  padding: 2%;
}
.incometax_panNumber{
padding: 2%;
}



.Incometax_submits{
  margin: 4%;
  outline: none;
  text-align: center;
  border: 1px solid #2fb68e;
  background-color: #2fb68e;
  border-radius: 4px;
  
  font-size: 16px;
  color: white;
  padding: 4px;
  width: 90px;
  margin-left: 30px;

}

/* .Incometax_submits:hover{
  background-color: #2fb68e;
  color: #fff;
} */


.btn_incometax_button:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}

/* Income Tax css end*/


.money_request{
  display: flex;
}

.money_request_2{
  margin-left: 100px;
}