@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.personal_details_card {
  font-weight: 500;
}

.personal_details_card .col-sm-6 {
  color: #2fb68e;
}

.personal_details_card .card {
  border: 1px solid #5c5b5b;
}

.personal_details_card hr {
  color: #000;
}

.personal_details_card .contact_details_heading {
  background-color: #2fb68e;
  border-bottom: 1px solid #5c5b5b;
  color: #fff;
}


.personal_details_card .table_heading {
  background-color: #2fb68e;
  color: #fff;
}

.personal_details_card .custom-table {
  border-collapse: collapse;
}

.personal_details_card .custom-table td {
  border: 1px solid #5c5b5b;
  padding: 8px;
}

.personal_details_card .contact_details_notes {
  font-size: 15px;
  color: #5c5b5b;
}