@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: Poppins;
}

/* acccounts css starts */

.accounts_container {
  border: 1px solid #cdc2c2;
  margin-bottom: 20px;
  font-size: 13px;
}
.savings_account_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #faede2;
  border-bottom: 1px solid #cdc2c2;
  padding: 10px 5px;
  font-size: 17px;
}
.savings_acct_type_heading {
  font-weight: 500;
}
.savings_acct_avail_bal {
  font-weight: 500;
}
.savings_account_user_details_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}
.savings_acct_user_headings {
  font-weight: 410;
}
.account_statement_view_btn {
  border-radius: 5px;
  background-color: #f18121;
  color: #fff;
  padding: 3px 15px;
  border: 1px solid lightgray;
}

.savings_acct_statement {
  margin: 5px 0px;
}
.savings_acc_statement_cont_heading {
  font-weight: 500;
  font-size: 18px;
}
.acct_statement_printer_icon {
  font-size: 18px;
  font-weight: 550;
  margin-right: 5px;
}
.acct_statement_printer_text {
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.acct_statement_acct_num {
  font-weight: 410;
}
.savings_acc_another_acct {
  margin: 5px 0px;
}
.savings_acct_mybalnace {
  font-weight: 410;
}

.savings_acct_trans_table {
  border-collapse: collapse;
}
.savings_acct_trans_table_header {
  font-size: 16px;
}
.savings_acct_trans_table th {
  font-weight: 500;
  background-color: #faede2 !important;
  color: #51504f !important;
}

.savings_account_note {
  font-weight: 500;
  font-size: 18px;
}
.savings_acct_note_points {
  line-height: 1.5;
  margin: 5px 0px;
  font-size: 13px;
}
.savings_acct_note_order_list {
  font-size: 13px;
}
.savings_acc_note_atag {
  color: #4094ef;
  cursor: pointer;
}

/* acccounts css ends */

/* statemenst css starts */

.savings_acct_statement_heading {
  font-size: 20px;
  font-weight: 500;
}
.acct_statements_months_cont {
  border: 1px solid #dee2e6;
  box-shadow: 0px 0px 5px #b2b9bf;
  margin: 15px 0px;
  background-color: rgb(253, 253, 253);
  font-size: 13px;
}
.acct_type_cont {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}
.acct_type_text {
  width: 190px;
  font-weight: 410;
  display: flex;
  align-items: center;
}
.acct_num_cont {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}
.acct_num_text {
  width: 190px;
  font-weight: 410;
}
.mini_statement_cont {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}
.ministatement_radio_btn {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.period_cont {
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
}
.period_data_cont {
  width: 190px;
}
.period_radio_btn {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.period_from_to {
  width: 50px;
}
.from_date_period {
  border: 1px solid #dee2e6;
  outline: none;
  border-radius: 5px;
  padding: 3px 10px;
}
.calender_icon {
  font-size: 20px;
  margin-left: 5px;
}
.show_transactions_cont {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #dee2e6;
}
.show_transactions_text {
  width: 190px;
  font-weight: 410;
}
.show_all_transa {
  width: 190px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.per_page_tarns{
  width: 210px;
  display: flex;
  align-items: center;
}

.all_trans_icon {
  font-size: 22px;
  color: darkcyan;
}
.transactions_view_btn_cont {
  padding: 10px 20px;
}
.transactions_view_btn {
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: #f18121;
  color: #fff;
  border-radius: 5px;
}

.statement_savings_acct_num_cont{
  border: 1px solid #cec9c9;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 10px 0px;
}
.statement_savings_acct_num{
  font-weight: 410;
  margin-right: 7px;
}
.statement_savings_acct_branch{
  font-weight: 450;
  font-size: 17px;
}
.tran_statement_table_header th{
  font-weight: 500;
  background-color: #faede2 !important;
  color: #51504f !important;
}
select.form-control.statement_select_format {
  font-size: 15px;
}
.statement_download_btn{
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

.savings_acct_statement_note {
  font-size: 18px;
  font-weight: 500;
  font-size: 13px;
}
.savings_acct_statement_note_points {
  color: #7d7d7d;
  font-size: 15px;
  margin: 5px 0px;
  font-size: 13px;
}
.savings_acct_statement_note_points_atag {
  color: #4094ef;
  text-decoration: underline;
}

/* statemenst css ends */

/* Statement By Email CSS Starts */

.savings_acct_user_auth_heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.savings_acct_user_auth_container {
  width: 100%;
  height: auto;
  background-color: rgb(254, 253, 253);
  box-shadow: 0px 0px 5px rgb(152, 150, 150);
  padding: 0px 0px 20px 0px;
  font-size: 13px;
}
.savings_acct_user_auth_container_header {
  font-size: 20px;
  font-weight: 500;
  /* background-color: floralwhite; */
  background-color: #faede2;
  padding: 10px 20px;
  color: rgb(82, 75, 75);
}
.savings_acct_user_auth_details_container {
  padding: 20px 25px;
}
.savings_acct_user_auth_details_heading {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px;
}
.otp_verifi_text {
  font-size: 20px;
  font-weight: 500;
}
.otp_code_mobile {
  font-weight: 500;
}
.otp_code_box1,
.otp_code_box2,
.otp_code_box3,
.otp_code_box4,
.otp_code_box5,
.otp_code_box6 {
  width: 35px;
  height: 35px;
  border: 1px solid #fffefe;
  outline: none;
  border-radius: 5px;
  margin: 15px 10px;
  background-color: #dadada;
  text-align: center;
}
.otp_code_box1 {
  margin-left: 0px;
}
.valid_otp_msg{
  color: green;
  font-size: 20px;
}
.invalid_otp_msg{
  color: red;
  font-size: 20px;
}
.resend_code_text {
  color: #4094ef;
  cursor: pointer;
}
.otp_verify_btn_container {
  margin: 10px 0px;
}
.otp_verify_btn {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;

  /* background-color: #4094ef; */
  background-color: #f18121;

  border-radius: 5px;
  padding: 5px;
}
.savings_acct_user_auth_text1 {
  font-size: 14px;
  margin: 10px 0px;
  font-weight: 500;
  color: #999;
}
.savings_acct_user_auth_text2 {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
.savings_acct_user_auth_text3 {
  font-size: 14px;
  margin: 10px 0px;
  color: #999;
}
.savings_acct_user_auth_text3_atag {
  color: #4094ef;
  text-decoration: underline;
  cursor: pointer;
}
.savings_acct_user_auth_submit_btn {
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #f18121;
}

/* Statement By Email CSS ends */

/* ATMDetails.css starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: Poppins;
}
.atm_card_details .card {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.atm_card_details_debit_card h6 {
  color: #f18121;
}

.atm_card_details_debit_card p {
font-size: 13px;
}
.atm_card_details_button_container {
  margin: 10px 0;
  align-items: center;
  justify-content: flex-start;
}

.atm_card_details_button {
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: #f18121;
  background: none;
  padding-left: 5px;
}

.atm_card_details_button_upgrade {
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: #f18121;
  background-color: #ffc492;
  border-radius: 20px;
  padding: 10px;
}

.atm_card_details_para_upgrade {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.atm_card_details_logo {
  font-size: 30px;
  color: #f18121;
}

/* ATMDetails.css ends */

/* Generatepi.css starts */

.generate_pin .card {
  border: none;
  font-size: 14px;
}
.genrate_pin_buttons {
  color: #f18121;
  background-color: #ffc492;
  padding: 5px 10px;
  border: none;
}
.genrate_pin_submits {
  border: none;
  color: #f18121;
  background-color: #ffc492;
  padding: 5px 10px;
}

.card_details_generate_pin_heading {
  background-color: #faede2;
  color: #f18121;
}
.card_details_generate_pin_notes {
  font-size: 13px;
}

.card_details_generate_pin_input_tag .form-control:focus {
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

.card_details_generate_pin_select_tag .form-control:focus {
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

/* Generatepin.css ends */


/* Generatedebitpinotp.css starts */

.generate_debit_pin_button_logos{
  font-size: 20px;
}

.generate_debit_pin_button{
  color: #f18121;
  border: 1px solid #f18121;
  outline: none;
  align-items: center;
  background-color: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.generate_debit_pin_para{
  font-size: small;
  font-weight:  400;
}

.generate_debit_pin_icon{
  display: flex;
  flex-direction: row;
}

.generate_debit_pin_div_label{
  display: flex;
  flex-direction:column;
  width: 150px;
  outline: none;
  height: 24px;
  /* width: 200px; */
  }

  .generate_debit_pin_icon_otp{
    border: 1px solid rgb(207, 203, 203);
    margin: 0px 5px;
    height: 25px;
    width: 30px;
    padding:1px 1px;
}

/* Generatedebitpinotp.css ends */

/* BlockCard.css starts */

.card_details_block_card_hotlisting .card {
  border: none;
}

.card_details_block_card_hotlisting h3 {
  color: #f18121;
}

.card_details_block_card_hotlisting .back {
  color: #f18121;
  border: none;
  background: transparent;
  font-weight: 500;
  border-radius: 10px;
}
.card_details_block_card_hotlisting .confirm {
  color: #f18121;
  border: none;
  background-color: #ffc492;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;
}

.card_details_block_card_fields {
  border: 1px solid rgb(230, 221, 221);
  padding: 3px;
  align-items: center;
  font-size: 13px;
}

.card_details_notes {
  font-size: 13px;
  color: #7d7d7d;
}

.card_details_block_card_hotlisting .form-control:focus {
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  border: none;
}

/* BlockCard.css ends */

/* Reissuecard.css starts */

.reissue_card .card {
  border-radius: 10px;
  font-weight: 500;
}
.reissue_card .card h6 {
  color: #f18121;
  font-weight: 700;
}

.reissue_card_heading {
  color: #f18121;
}

.reissue_card_button {
  color: #f18121;
  border: 1px solid #f18121;
  background-color: transparent;
  padding: 5px 35px;
  font-weight: 500;
  border-radius: 50px;
}
.reissue_card_button_submit {
  border: none;
  color: #f18121;
  background-color: #ffc492;
  padding: 5px 35px;
  font-weight: 500;
  border-radius: 50px;
}
.reissue_card .note {
  font-weight: 400;
}

.reissue_card_steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reissue_card_steps_container {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  margin-top: 50px;
}

.reissue_card_step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reissue_card_circle_container {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.reissue_card_circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 7px solid #f18121;
}

.reissue_card_completed .reissue_card_circle {
  background-color: #4caf50;
  border-color: #4caf50;
}

.card_details_select .form-control:focus {
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

.reissue_card_button_disabled{
  color: #b2b9bf;
  border: 1px solid #b2b9bf;
}

/* Reissuecard.css ends */

/* card limit css starts */
.card_limit .card {
  border: none;
  font-weight: 400;
  font-family: Poppins;
}

.card_limit .manage_card_heading {
  color: #f18121;
}
.card_limit .card .form_container {
  font-weight: 600;
  font-size: 15px;
}

.card_limit .form_input {
  width: 200px;
  padding: 4px;
  box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #cdcde7;
  outline: none;
  padding-left: 5px;
}

.card_limit .range {
  position: absolute;
  border: 2px solid #cdcde7;
  border-radius: 5px;
  outline: none;
  width: 90px;
  list-style-type: none;
}

.card_limit input[type="radio"] {
  margin-right: 5px;
  transform: scale(1.2);
  cursor: pointer;
}

.card_limit .card_limit_heading {
  background-color: #ffc492;
  color: #f18121;
}

.card_limit .mandatory_field {
  font-size: 14px;
}

.card_limit .otp_container {
  font-size: 14px;
}

.card_limit .card_limit_notes {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.card_limit .back_btn {
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 60px;
}

.card_limit .submit_btn {
  outline: none;
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 80px;
}

.card_limit .input_range {
  position: relative;
}

.card_limit .input_range .zero {
  position: absolute;
}

.card_limit .input_range .max_zero {
  position: absolute;
  right: 0;
}

.card_limit .form-control {
  border: 1px solid #bbb;
  outline: none;
  border-radius: 2px;
  box-shadow: none;
  height: 30px;
}

.card_limit .domestic {
  margin-left: -10px;
}

/* Toggle.css */

.toggle_container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle_container .toggle_input {
  display: none;
}

.toggle_container .toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.toggle_container .toggle_slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle_container .toggle_input:checked + .toggle_slider {
  background-color: #2196f3;
}

.toggle_container .toggle_input:checked + .toggle_slider:before {
  transform: translateX(26px);
}

/* card limit css ends */

/* checkbook-request css starts */

.bookrequest .card {
  border: none;
  font-weight: 400;
  font-family: Poppins;
}

.bookrequest .card .pancard_details {
  font-weight: 500;
  font-size: 13px;
}

.bookrequest .check_book_heading {
  color: #f18121;
}

.bookrequest .bookrequest_heading {
  background-color: #ffc492;

}

.bookrequest .form_input {
  width: 230px;
  padding: 4px;
  box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #cdcde7;
  outline: none;
  padding-left: 5px;
}
.bookrequest .back_button {
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 80px;
}

/* checkbook-request css ends */

/* update pancard css starts */

.pancard .card {
  border: none;
  font-weight: 400;
  font-family: Poppins;
}

.pancard .update_pancard_heading {
  color: #f18121;
}

.pancard .card .pancard_details {
  font-weight: 600;
  font-size: 15px;
}

.pancard .form-control {
  box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #cdcde7;
  outline: none;
  padding-left: 5px;
}

.pancard .form_input {
  width: 230px;
  padding: 4px;
  box-shadow: inset 0 0 2px rgba(131, 128, 128, 0.3);
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #cdcde7;
  outline: none;
  padding-left: 5px;
}

.pancard input[type="radio"] {
  margin-right: 5px;
  transform: scale(1.2);
  cursor: pointer;
}

.pancard .pancard_heading {
  background-color: #ffc492;
  color: #f18121;
}

.pancard .mandatory_field {
  font-size: 14px;
}

.pancard .otp_container {
  font-size: 14px;
}

.pancard .pancard_notes {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.pancard .back_Btn {
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 60px;
}

.pancard .submit_Btn {
  outline: none;
  border: 1px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  background-color: #ffc492;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  width: 80px;
}

/* update pancard css ends */

/* Update Form 60 css starts*/
.nav_section {
  height: 5vh;
}
.update_form_section label {
  margin-top: 15px;
}
.update_form_section span {
  font-weight: 420;
  font-size: 15px;
}
.update_form_back_btn {
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid rgba(144, 146, 122, 0.5);
  background-color: rgb(177, 192, 192);
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
.update_form_submit_btn {
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid rgba(128, 123, 123, 0.5);
  /* background-color: rgb(37, 184, 62); */
  border-radius: 2px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  font-size: 15px;
  text-align: center;
  background-color: #f18121;
}
.update_form_heading {
  background-color: rgb(228, 239, 241);
}

.update_form_section .form-control:focus {
  /* border-color: inherit; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Update Form 60 css ends*/

/* PMSocialSecuritySchemes css Starts */

.PMSSS_update_email {
  font-size: 10px;
  text-decoration: underline;
}
.PMSSS_form_back_btn {
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid rgba(144, 146, 122, 0.5);
  background-color: rgb(177, 192, 192);
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
.PMSSS_form_section span {
  font-weight: 420;
  font-size: 15px;
}
.PMSSS_form_submit_btn {
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid rgba(128, 123, 123, 0.5);
  /* background-color: rgb(37, 184, 62); */
  border-radius: 2px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  font-size: 15px;
  text-align: center;
  background-color: #f18121;
}
.PMSSS_form_section label {
  margin-top: 15px;
  font-weight: 500;
}

.PMSSS_main_heading2 {
  color: rgb(88, 88, 88);
  font-weight: 400;
  background-color: rgb(248, 239, 228);
  margin: 0px;
}
.PMSSS_main_heading1 {
  font-weight: 400;
  margin: 0px;
  background-color: rgb(228, 239, 241);
}
.PMSSS_form_section .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.PMSSS_form_section .form-control:focus {
  /* border-color: inherit; */
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* PMSocialSecuritySchemes  css ends*/

/* service reqest starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.service_input {
  width: 25vw;
  height: 5vh;
  border-radius: 3px;
  margin-top: 10px;
  font-size: small;
  border: 1px solid #d3d0cbff;
}
.service_table_heading {
  color: #f18121;
}

.service_input:focus {
  outline: none;
}

.service_input2 {
  width: 25vw;

  border-radius: 5px;
  margin-top: 10px;
  font-size: larger;
  border: 1px solid #d3d0cbff;
}

.service_input2:focus {
  outline: none;
}

.service_btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  outline: 2px solid #f18121;
}

.service_btn:hover {
  background-color: #d3d0cbff;
  color: black;
}

.service_sendicon {
  font-size: 20px;
  border: 1px solid black;
  margin-top: 10px;
  padding-top: 5px;
  color: gray;
  border: 1px solid #d3d0cbff;
}

.service_table {
  background-color: white;
  color: black;
}

.service_icon {
  color: #f18121;
}

.servicerequest_subcard {
  border-left: 4px solid gray;
  border-bottom: 4px solid gray;
  background-color: #faede2 !important;
}
.service_background_main {
  background-color: #f8f9fa;
}

/* service reqest ends */

/* fixed deposit starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.deposit_heading {
  font-size: 13px;
}

.deposit_btn {
  border: none;
  border-radius: 14px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  padding: 10px 20px;
  background-color: #fac294;
}

.deposit_cardbtn {
  border-radius: 10px;
  width: 50%;
  padding: 10px 20px;
  border: none;
  background-color: #fac294;
  color: #f18121;
}
.deposit_card {
  border-radius: 10px;
  background-color: #faede2 !important;
  color: black;
}
.deposit_fixedheading {
  color: #f18121;
}

.deposit_card1 {
  border-radius: 10px;
  background-color: white;
}
.deposit_img {
  width: 100%;
}
.deposit_icon {
  font-size: 40px;
  color: #f18121;
}

.deposit_btn1 {
  background-color: #fac294;
  border: none;
  border-bottom: 4px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  padding: 10px 40px;
}
.deposit_btn1:hover {
  background-color: #f18121;
  color: black;
}

.deposit_image {
  height: 10vh;
}

.deposit_card2 {
  border-radius: 10px;
  background-color: #faede2 !important;
  border-left: 4px solid gray;
}

.fixed_deposit_background_main {
  background-color: #f8f9fa;
}

/* fixed deposit ends */
/* recurring deposit starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.recurring_rupeeicon {
  color: #f18121;
}

.recurring_btn {
  background-color: #fac294;
  border: none;
  border-bottom: 4px solid #f18121;
  border-radius: 4px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  padding: 10px 20px;
}

.recurring_btn1 {
  background-color: #fac294;
  border: none;
  border-bottom: 4px solid #f18121;
  border-radius: 14px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  margin: auto;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  padding: 10px 10px;
}

.recurring_btn2 {
  background-color: #fac294;
  border: none;
  border-bottom: 4px solid #f18121;
  border-radius: 14px;
  color: #f18121;
  display: inline-block;
  font-family: revert;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: linear;
  padding: 10px 30px;
}

.recurring_btn2:hover {
  background-color: #f18121;
  color: black;
}
.recurring_btn1:hover {
  background-color: #f18121;
  color: black;
}
.recurring_para {
  color: #f18121;
}

.recurring_amount {
  font-size: small;
  margin-bottom: 60px;
}
.recurring_sideheading {
  color: #f18121;
}

.recurring_background_main {
  background-color: #f8f9fa;
}

/* recurring deposit ends */

/* /deposite cntainer start/ */

.Deposite_container_content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: rgb(241, 235, 235); */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(214, 210, 210, 0.1);
}
.Deposite_container_content h1 {
  color: black;
  margin-right: 200px;
  font-size: x-large;
  margin: 0px 150px 8px 0px;
  padding-left: 70px;
}
.Deposite_container_content p {
  margin-left: 10px;
}
.Deposite_container_steps h1 {
  color: black;
  font-size: x-large;
  margin-right: 20px;
}
.Deposite_container_steps {
  padding-right: 20px;
}
.Deposite_hero_container {
  margin-right: 5px;
  padding-top: 100px;
  margin-top: 100px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 8px;
}
.Deposite_container {
  background-color: rgb(246, 247, 248);
  padding-right: 50px;
}
.Deposite_p_container {
  margin-right: 5px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffff;
  border-radius: 8px;
}
.container-content p {
  color: black;
}
.Deposite_why_container h2 {
  margin-right: 180px;
  font-size: x-large;
}
.Deposite_goals_container h4 {
  color: black;
  font-size: medium;
}
.Deposite_goals_container img {
  width: 100px;
  margin-left: 30px;
}
.Deposite_stapes_container i {
  font-size: x-large;
  color: rgb(153, 50, 50);
  background-color: rgb(241, 198, 198);
}
.Deposite_stapes_container {
  margin-left: 150px;
}
.Deposite_cards_deposite {
  row-gap: 10px;
  column-gap: 60px;
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.Deposite_goals_container_head {
  padding-bottom: 20px;
  gap: 80px;
}
.create-container-steps h1 {
  color: black;
  margin-right: 150px;
}
.Deposite_user_icon i {
  font-size: x-large;
  color: rgb(153, 50, 50);
  background-color: rgb(241, 228, 228);
}
.Deposite_button_view {
  margin-top: 10px;
  color: rgb(218, 166, 71);
  padding-bottom: 19px;
}
.Deposite_container_content i {
  font-size: x-large;
  color: rgb(233, 182, 89);
  background-color: rgb(241, 228, 228);
}

.Deposite_goals_container i {
  font-size: x-large;
}
.deposite_icon {
  font-size: x-large;
}
/* /deposite cntainer end/ */

/* fixed advice start*/
.fixed_deposit {
  margin-left: 5px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #beb7b7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed_deposit h1 {
  color: #312b2b;
  margin-right: 650px;
  font-size: x-large;
}
.fixed_selectOption {
  margin-right: 550px;
  padding-top: 30px;
}
/* .fixed_selectOption1{
    margin-left: 550px;
  } */
.fixed_container_content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  color: #fff;
  min-height: 150px;
  border-radius: 20px;
  padding-top: 80px;
  margin-top: 50px;
  background-color: #ffff;
}
.fixed_container_content1 {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  color: #fff;
  min-height: 150px;
  border-radius: 20px;
  background-color: #ffff;
  margin-top: 50px;
}
.fixed_container_content h1 {
  color: black;
  margin-right: 5px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fdfafa;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: xx-large;
}

.fixed-deposit-container {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fixed_hero_container {
  height: 100px;
}
.fixed-container {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fixed_deposit_form {
  display: flex;
  flex-direction: column;
  margin-right: 550px;
}
.fixed_form_container {
  margin-right: 100px;
}
.fixed_deposit_form label {
  margin-bottom: 10px;
}
.fixed_button_container button {
  padding: 10px;
  background-color: rgb(235, 106, 60);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 20vh;
  justify-content: center;
  align-items: center;
}
.fixed_button_now {
  padding: 10px;
  background-color: rgb(235, 106, 60);
  color: #312b2b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 20vh;
  margin-top: 10px;
}

/* fixed advice end*/

/* renew advice start*/
.renew_container {
  padding: 20px;
  text-align: center;
}
.renew_container h1 {
  color: black;
  font-size: x-large;
  margin-right: 150px;
}
.renew_deposits_container {
  margin-top: 20px;
  background-color: rgb(219, 215, 215);
  padding: 5px;
  border-radius: 10px;
  color: black;
  padding-right: 80px;
}
.renew_deposits_container p {
  padding-top: 10px;
  padding-left: 10px;
}
.renew_deposits_container i {
  padding-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  color: rgb(226, 87, 87);
}

/* renew advice end*/

/* paylater css starts */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.paylater_heading {
  font-size: x-large;
  color: #f18121;
}

.paylater_image1 {
  width: 50px;
  height: 50px;
}

.paylater_tablehead {
  background-color: #f8f9fa;
  font-size: 10px;
}

.paylater_body {
  font-size: 10px;
}

.paylater_table {
  margin-top: 5%;
}

.paylater_table::-webkit-scrollbar,
.paylater_transaction_table::-webkit-scrollbar {
  width: 0;
}

.paylater_payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.paylater_paynow {
  border: 1px solid white;
  font-size: 10px;
  color: #f18121;
  background-color: #faede2;
  height: 35px;
  border-radius: 5px;
}

.paylater_bill,
.paylater_statement {
  font-size: 10px;
  color: #f18121;
  background-color: #faede2;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.paylater_paynow:focus,
.paylater_bill:focus,
.paylater_statement:focus {
  box-shadow: none;
}

.paylater_paynow:hover {
  color: #f18121;
}

.paylater_bill:hover,
.paylater_statement:hover {
  color: #f18121;
}

.paylater_transactions {
  background-color: #faede2;
  color: #f18121;
  display: flex;
  align-items: center;
  margin-top: 5%;
  height: 40px;
  padding-left: 2%;
  font-size: 14px;
}

/* paylater css ends */

/* .estatement css starts */

.estatement_heading {
  font-size: x-large;
  color: #f18121;
}
.estatement_container {
  font-size: small;
}
.estatement_accountmain,
.estatement_show {
  border: 1px solid lightgray;
}
.estatement_accounttype {
  max-width: 400px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.estatement_select {
  display: flex;
  width: 230px;
  position: relative;
  height: 40px;
  justify-content: space-between;
}

.estatement_option:focus {
  outline: none;
}

.estatement_option {
  width: 100%;
  appearance: none;
  padding-left: 3%;
  border: none;
}

.estatement_downicon {
  width: 20px;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
  pointer-events: none;
}
.estatement_icon1 {
  font-size: xx-large;
  color: #f18121;
  margin-top: 20%;
}

.estatement_statementtype {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 130px;
  justify-content: space-between;
}
.estatement_fccalender {
  font-size: x-large;
}
.estatement_downicon1 {
  margin-left: 5%;
}
.estatement_calenderbtn {
  border: none;
  background: none;
}
.estatement_datepick {
  padding-left: 3%;
  margin-top: 6%;
}
.estatement_datepick:focus {
  outline: none;
}
.estatement_subshow {
  display: flex;
  height: 8vh;

  align-items: center;
}

.estatement_showselect {
  display: flex;
  position: relative;
  width: 130px;
}
.estatement_showselect1 {
  display: flex;
  position: relative;
  width: 175px;
  margin-left: 2%;
}
.estatement_showoption {
  appearance: none;
  border: none;
  width: 100%;
}
.estatement_showoption:focus {
  outline: none;
}
.estatement_showidiv {
  position: absolute;
  right: 0;
  cursor: pointer;
  pointer-events: none;
}
.estatement_showmain {
  display: flex;
  justify-content: space-between;
}
.estatement_showhead {
  width: 30%;
}
.estatement_buttons {
  border: 1px solid lightgrey;
  height: 8vh;
  display: flex;
  align-items: center;
}
.estatement_view {
  width: 60px;
  background-color: #faede2;
  border: none;
  border-radius: 5px;
  color: #f18121;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estatement_download {
  margin-left: 4%;
  width: 80px;
  background-color: #faede2;
  border: none;
  border-radius: 5px;
  color: #f18121;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estatement_note {
  margin-top: 5%;
  color: #f18121;
}

/* estatement css ends */

/* maypayee css starts */

.mypayee_navmain {
  display: flex;

  list-style-type: none;
  text-align: center;
  font-size: 13px;
  background-color: lightgray;
  height: 8vh;
}
.mypayee_navmain li {
  cursor: pointer;
  border-left: 1px solid white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypayee_buttonon {
  color: #8f3737;
  border-bottom: 2px solid #8f3737;
}
.mypayee_content {
  background-color: rgb(241, 241, 241);
}
.mypayee_text {
  display: flex;
  height: 20vh;
  align-items: center;
}
.mypayee_addmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  height: 15vh;
}
.mypayee_input {
  width: 65%;
  display: flex;
  border: 1px solid rgb(76, 74, 74);
  align-items: center;
  height: 30px;
  padding-left: 2%;
  background-color: white;
}
.mypayee_input1 {
  width: 100%;
}
.mypayee_input2 {
  border: none;
  background-color: transparent;
}
.mypayee_input2:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.mypayee_addbtn {
  width: 160px;
  height: 30px;
  background-color: #8f3737;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypayee_search {
  color: #8f3737;
}
.mypayee_icons {
  font-size: large;
}
.mypayee_icons3 {
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
}
.mypayee_icons4 {
  font-size: xx-large;
}
.mypayee_click {
  text-decoration: underline;
  color: #8f3737;
}

/* mypayee css ends */
/* personalize transactions limits */
.category_container {
  overflow: hidden !important;
}
.personalize_Limit_container {
  padding-left: 20px;
  overflow: hidden;
  margin-left: 180px;
}
.current_limit_container {
  margin-left: 200px;
}

.personalize_container {
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
}

.category_tr_container {
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
}

.personalize_container {
  max-width: 1200px;
  margin: 0 auto;
}

.category_th_container {
  background-color: #d8d8e3;
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
  /* max-width: 1200px;
	margin: 0 auto; */
}

.category_Price_container {
  text-align: right;
  border: 1px solid #b8d4cf;
  padding: 8px;
}

.Select_category_container {
  background-color: #d4b8cd;
  overflow: hidden;
  height: 240px;
  width: 910px;
  margin-left: 197px;
}

.Paragraph_category_container {
  font-family: "Poppins";
  padding-left: 198px;
}

.Select_limit_container {
  padding-left: 10px;
}

.option_container {
  margin-left: 10px;
  accent-color: #2c6f70;
}

.Debit_Account_container {
  margin-left: 10px;
  margin-top: 20px;
}
.InputDebit_Account_container {
  margin-left: 60px;
  overflow: hidden;
  width: 458px;
  height: 35px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.Next_Account_container {
  width: 130px;
  height: 40px;
  background-color: #d4913f;
  color: #ffff;
  border: none;
  font-family: "Poppins";
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 10px;
  font-weight: 600;
}

.Next_Account_container:hover {
  background-color: rgb(61, 55, 55);
}

/* personalize limits ends */

/* paybills css starts */
.PayBiller_section_container {
  overflow: hidden !important;
}

.payBillsBtn {
  background-color: #423fd4;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: none;
  width: 630px;
  font-family: "Poppins";
  color: #ffff;
  font-weight: 500;
  padding-left: 10px;
  overflow: hidden;
}

.payBillsBtn_off {
  background-color: rgb(61, 55, 55);
}

/*  */

.input_serachbiller_container {
  width: 1250px;
  height: 43px;
  margin-left: 35px;
  background-color: lightgrey;
  margin-bottom: 40px;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  outline: none;
}

.card_paybill_contaiiner {
  margin-left: 30px;
  overflow: hidden;
  width: 100px;
}
.card-paybill_contaiiner:hover {
  color: orange;
}
.cardIcon_section_container {
  margin: 0px;
  width: 50px;
  color: orange;
  background-color: rgb(247, 239, 239);
  height: 30px;
}

.cardIcon_section_container:hover {
  background-color: white;
}

.searchbiller_icon_card {
  margin-left: 1250px;
  margin-top: -145px;
  font-size: 1rem;
}
.Biller_payBiller_container {
  margin-top: 80px;
  padding-left: 10px;
  overflow: hidden;
  background-color: #7186d1;
  width: 1270px;
  height: 50px;
  padding-top: 5px;
  color: #ffff;
  border-radius: 5px;
  margin-left: 10px;
}

.Notes_Registered_container {
  padding-left: 10px;
  background-color: #d6cece;
  width: 1300px;
  margin-left: 25px;
  padding-left: 10px;
  margin-top: 20px;
}

.Registered_container {
  font-weight: bold;
  font-family: "Poppins";
  margin-left: 0px;
}

.Notes-Registered_container {
  font-family: "Poppins";
  padding-top: -10px;
}

.Registered_span_container {
  font-family: "Poppins";
  padding-top: -10px;
}

.after_Paybill_container {
  background-color: #7186d1;
  font-family: "Poppins";
  margin-bottom: 40px;
  width: 1300px;
  margin-left: 25px;
  padding-left: 10px;
}

.After_Note_container {
  font-size: bold;
  padding-left: -20px;
}

.buttonIcons_paysection_container {
  font-size: 2rem;
  border: none;
  margin-left: 40px;
  color: orange;
}

.icon_paysection_container {
  font-size: 0.8rem;
}

.PaySection_biller_container {
  margin-left: 150px;
}

.billers_registered_container {
  padding-top: 30px;
  padding-left: 580px;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 200;
}

/* pay bills ends here */

.category_container {
  overflow: hidden !important;
}
.personalize_Limit_container {
  padding-left: 20px;
  overflow: hidden;
  margin-left: 180px;
}
.current_limit_container {
  margin-left: 200px;
}

.personalize_container {
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
}

.category_tr_container {
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
}

.personalize_container {
  max-width: 1200px;
  margin: 0 auto;
}

.category_th_container {
  background-color: #d8d8e3;
  border: 1px solid #b8d4cf;
  padding: 11.5px;
  overflow: hidden;
  font-family: "Poppins";
  /* max-width: 1200px;
	margin: 0 auto; */
}

.category_Price_container {
  text-align: right;
  border: 1px solid #b8d4cf;
  padding: 8px;
}

.Select_category_container {
  background-color: #d4b8cd;
  overflow: hidden;
  height: 240px;
  width: 910px;
  margin-left: 197px;
}

.Paragraph_category_container {
  font-family: "Poppins";
  padding-left: 198px;
}

.Select_limit_container {
  padding-left: 10px;
}

.option_container {
  margin-left: 10px;
  accent-color: #2c6f70;
}

.Debit_Account_container {
  margin-left: 10px;
  margin-top: 20px;
}
.InputDebit_Account_container {
  margin-left: 60px;
  overflow: hidden;
  width: 458px;
  height: 35px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.Next_Account_container {
  width: 130px;
  height: 40px;
  background-color: #d4913f;
  color: #ffff;
  border: none;
  font-family: "Poppins";
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 10px;
  font-weight: 600;
}

.Next_Account_container:hover {
  background-color: rgb(61, 55, 55);
}

.ViewPayee-container {
  overflow: hidden !important;
}
.BankAccount_navbar {
  display: flex;
  background-color: lightgray;
  justify-content: space-around;
  margin-top: 20px;
  font-family: "poppins";
  padding: 10px;
}
.deletePayee_buttonon {
  border-bottom: 2px solid orange;
  color: orange;
}

.deletePayee_buttonon:hover {
  color: orange;
}

.BankAccount_Serach_container {
  font-family: "poppins";
  background-color: lightgrey;
  width: 1150px;
  margin-left: 85px;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
}

.BankAccount_frompages_container {
  background-color: rgb(241, 231, 231);
  justify-content: "flex-start";
  width: 1150px;
  margin-top: -8px;
  margin-left: 85px;
  padding-top: 15px;
  padding-left: 15px;
  height: 260px;
}

.BankAccount_AccountNumber_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.BankAccount_inputAccount_container {
  width: 350px;
  height: 33px;
  margin-left: 60px;
  outline: none;
}

.BankAccount_AccountNickName_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;
}

.BankAccount_inputNickName_container {
  width: 350px;
  height: 33px;
  margin-left: 20px;
  outline: none;
}

.BankAccount_buttonNext_container {
  background-color: orange;
  color: white;
  /* margin-left: 30px; */
  width: 75px;
  border: none;
  height: 35px;
  font-family: "poppins";
  font-weight: "500";
  font-size: 14px;
  border-radius: 5px;
}

.BankAccount_NoteParagraph_container {
  margin-left: 85px;
}

.BankAccount_details_container {
  margin-left: 800px;
  margin-top: 5px;
}

.BankAccount_download_container {
  font-weight: 500;
}

.BankAccount_selecttype_container {
  margin-left: 15px;
  padding-right: 60px;
  border-radius: 3px;
}

.button_selectAccount_container {
  background-color: orange;
  color: white;
  width: 75px;
  border: none;
  height: 35px;
  border-radius: 5px;
  margin-left: 50px;
}

.Payment_container_fluid {
  margin-top: 10px;
  font-size: 11px;
  overflow: hidden !important;
}

.Payment_heading_container {
  font-family: "Poppins";
  padding-left: 5px;
}

.Payment_Summary_container {
  color: orange;
  text-align: "start";
  font-size: "15px";
  font-weight: "600";
  font-family: "poppins";
  padding-left: 5px;
}

.Payment_hr_container {
  border-color: black;
}

.Payment_section_continer {
  justify-content: "flex-start";
  background-color: darkgrey;
  padding: "8px";
  padding-top: 18px;
  padding-left: 5px;
}

.Payment_details_container {
  color: orange;
  padding-right: "40px";
  font-family: "poppins";
}

.payment_confirm_container {
  text-align: "start";
  font-family: "poppins";
}

.payment_islamicpayee_container {
  font-family: "poppins";
}

.payment_payee_container {
  padding-left: 750px;
  font-family: "poppins";
  font-weight: 400;
}

.payment_frompages_container {
  background-color: lightgray;
  justify-content: "flex-start";
  padding: 25px;
}

.Payment_AccountNumber_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.payment_inputAccount_container {
  width: 350px;
  height: 33px;
  margin-left: 40px;
  outline: none;
}

.Payment_AccountNickName_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;
}

.payment_inputNickName_container {
  width: 350px;
  height: 33px;
  margin-left: 20px;
  outline: none;
}

.Payment_AccountType_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.payment_selecttype_container {
  width: 350px;
  height: 36px;
  font-family: "poppins";
  background: "white";
  font-size: 14px;
  margin-left: 58px;
  outline: none;
}

.Payment_PayeeBank_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.payment_inputPayeeBank_container {
  width: 350px;
  font-family: "poppins";
  height: 33px;
  margin-left: 56px;
  outline: none;
}

.button_PayeeBank_container {
  background-color: orange;
  font-family: "poppins";
  color: white;
  border: none;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  border-radius: 4px;
}

.Payment_AccountNumber_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.payment_inputAccountNumber_container {
  width: 350px;
  height: 36px;
  font-family: "poppins";
  background: "white";
  font-size: 14px;
  margin-left: 43px;
  outline: none;
}

.Payment_ConfirmNumber_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  padding-left: 18px;
}

.payment_inputConfirmNumber_container {
  width: 350px;
  height: 35px;
  font-family: "poppins";
  background: "white";
  font-size: 14px;
  margin-left: 23px;
  outline: none;
  /* padding-inline-end: 50px; */
}

.Payment_PayeeTransferred_container {
  font-family: "poppins";
  margin-left: 10px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 8px;
  color: red;
}

.Payment_PayeeVirtualaccount_container {
  font-weight: 500;
  font-size: 14px;
  font-family: "poppins";
  padding-left: 20px;
}

.Payment_PayeeRegistration_container {
  width: 250px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  padding-left: 8px;
}

.Payment_inputRegisteredPayee_container {
  width: 350px;
  height: 33px;
  margin-left: 63px;
  outline: none;
}

.Payment_mandatory_container {
  margin-bottom: 5px;
}

.Payment_paragraph_container {
  padding-bottom: 1px;
  margin-top: -2px;
  font-family: "poppins";
  padding-left: -5px;
}

.Payment_background_container {
  background-color: darkgray;
  padding: 10px;
  flex-direction: "row";
}

.Payment_buttonback_container {
  border: none;
  width: 75px;
  height: 35px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
}

.Payment_buttonNext_container {
  background-color: orange;
  color: white;
  margin-left: 30px;
  width: 75px;
  border: none;
  height: 35px;
  font-family: "poppins";
  font-weight: "500";
  font-size: 14px;
  border-radius: 5px;
}

.Payment_backgroundNotes_container {
  background-color: white;
  padding: 1px;
  margin-top: -5px;
}

.Payment_Notes_container {
  font-size: 12px;
  font-weight: 900;
  font-family: "poppins";
}

.Payment_groundnotes_container {
  padding: 0px;
  margin: 0px;
}

.Payment_paragraphbank_container {
  margin-bottom: 0px;
  font-family: "poppins";
}
