/* loans css starts */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}



.loan_icon{
    text-align: right;
    font-size: 7px;
    margin-top: 5px;
}

.loans_list{
    margin-left: 60px;
}

.loans_card1{
    border: 6px solid #f18121!important;
    border-radius: 50%!important;
    padding:30px 5px!important;
    text-align: center!important;
}
.loans_card2{
    border: 6px solid #f18121!important;
    border-radius: 50%!important;
    padding:30px 5px!important;
    text-align: center!important;
    border-left:6px solid gray!important;
}
.loans_card3{
    border: 6px solid #f18121!important;
    border-radius: 50%!important;
    padding:30px 5px!important;
    text-align: center!important;
    border-left:6px solid gray!important;
    border-top:6px solid gray!important;
}
.loans_card4{
    border: 6px solid gray!important;
    border-radius: 50%!important;
    padding:35px 5px!important;
    text-align: center!important;
}
.loans_card5{
    background-color:#fac294!important;
    border-radius: 50%!important;
    padding:30px 20px!important;
    text-align: center!important;
    color: white!important;
}
.loan_card_para{
    font-size: x-small;
}
.loansAccount_maincard{
    background-color: #faede2!important;
}
.loans_subcard{
    background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/214650/214650_00_2x.jpg?20200810002354);
    background-position: center;
    background-size: cover;
}
.loans_usericon{
    padding: 10px!important;
    background-color:#fac294!important;
    color: #f18121!important;
    text-align: center;
}

.tooltip-inner {
    background-color:maroon; 
    color: #fff; 
  }

  .loans_subcard_para{
    font-size:8px;
    margin-left: 14px;
    color: #f18121;

  }
  .loans_subcard_para1{
    font-size:8px;
    margin-left: 25px;
    color: #f18121;
  }
  .loans_subcard_para2{
    font-size:8px;
    margin-left: 25px;
    color: #f18121;
  }
  .loans_subcard_icon{
    font-size: 20px;
    color: #f18121;
  }
  .loans_main_icon{
    font-size:20px;
    color: #f18121;
  }

  .loans_main_heading{
    color: #f18121;
  }


  /* loans css ends */

  /* applyforloan css starts */
.applyforloan_buttonon{
    color: #2fb68e;
    border-bottom: 2px solid #2fb68e;
}
.applyforloan_content{
    margin-top: 3%;
    
}

.applyforloan_navmain{
    display: flex;
    
    list-style-type: none;
    text-align: center;
    font-size: 13px;
    background-color: rgb(236, 236, 236);
    height: 8vh;
}
.applyforloan_navmain li{
    cursor: pointer;
    border-left: 1px solid white;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.applyforloan_heading{
    color: #2fb68e;
    margin-top: 90px;
}
.applyforloan_icon{
    font-size: x-large;
    margin-right: 2%;
}
.applyforloan_para1{
    font-size: small;
   
}
.applyforloan_benefits{
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.applyforloan_benefitsicon{
    color: #2fb68e;
    margin-right: 1%;
    
}
.applyforloan_para2{
    font-size: small;
    text-decoration: underline;
    color: #2fb68e;
    
}
.applyforloan_para3{
    font-size: small;
    margin-top: 2%;
}
.applyforloan_divbutton{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.applyforloan_btn{
    width: 120px;
    height: 40px;
    color: #2fb68e;
    border: 1px solid #2fb68e;
    border-radius: 5px;
    font-size: small;
    background-color: transparent;
}
.applyforloan_btn:hover{
    color:#ebca28 ;
    border:1px solid #ebca28;
}
.applyforloan_banner{
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(111, 206, 154, 0.858));
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    color: white;
}
.applyforloan_bannericon{
    font-size: 50px;
    color: white;
    margin-right: 3%;
}
.applyforloan_bannericon1{
    margin-right: 1%;
}
.applyforloan_bannercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    margin-bottom: 2%;
}
.applyforloan_litres{
    font-size: xx-large;
    color: #2fb68e;
}
.applyforloan_homeloanbanner{
  height: 190px;
  margin-bottom: 1%;
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(https://t3.ftcdn.net/jpg/03/40/79/60/360_F_340796093_arRYqCCyRv95ISY6oNA4zNSTUWyg9CQa.jpg);
  border-radius: 10px;
border: 2px solid lightgray;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: white;
display: flex;
justify-content: flex-end;
  
  
}
.applyforloan_homeloanbannercontent{
    margin-right: 3%;
    padding: 1%;
}
.applyforloan_instantbtn{
    background-color: #2fb68e;
    color:#fff;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    
}
.applyforloan_instantbtn:hover{
    background-color: transparent;
    color: #ebca28;
    border: 1px solid #ebca28;
}
.applyforloan_carloanbanner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://financehub.co.in/wp-content/uploads/2021/03/Car-Loan.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* applyforloan css ends */
/* loanapplication css starts */
.loanapptracking_head{
    height: 40px;
    background-color: #cce6df;
    color: #2fb68e;
    text-align: center;
    line-height: 40px;

}
.loanapptracking_content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.loanapptracking_input1{
    margin-right: 3%;
}
.loanapptracking_input2{
    width: 400px;
    padding-left: 2%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #2fb68e;
    
}
.loanapptracking_input2:focus{
    outline: none;
    
}
.loanapptracking_proceedbtn{
    width: 100px;
    height: 30px;
    background-color: #2fb68e;
    color: #fff;
    border-radius: 5px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.loanapptracking_para1{
    font-size: small;
}
.loanapptracking_paramain{
    font-size: 15px;
}
.loanapptracking_status{
    margin-top: 5%;
}
.loanapptracking_icon{
    color: #2fb68e;
    margin-right: 1%;
    font-size: 10px;
}
.loanapptracking_mainhead{
    color: #2fb68e;
    margin-top: 90px;
}


/* loanapplication css ends */

/* apply online css starts */


.applyonline_mainheading{
    color: #2fb68e;
    margin-top: 90px;
    }
    .applyonline_mainrow{
        width: 98%;
        margin-top: 4%;
        margin-left: 1%;
        
    }
    .applyonline_maincontainer{
        height: 370px;
        border: 1px solid lightgray;
        border-radius: 10px;
        overflow: hidden;
        width: 98%;
        margin-left: 1%;
    }
    .applyonline_heading{
        background-color: #cce6df;
        color: #2fb68e;
        padding-left: 2%;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
    }
    .applyonline_badge{
        margin-left:5px;
        background-color: #2fb68e;
    }
    .applyonline_headcontent{
        display: flex;
        align-items: center;
        margin-top: 4%;
        padding-left: 3%;
    }
    .applyonline_icons{
        font-size: x-large;
        color: #2fb68e;
    }
    .applyonline_bodycontent{
        height: 120px;
        margin-top: 10%;
        padding-left: 3%;
        font-size: small;
    }
    .applyonline_divbutton{
        background-color: #2fb68e;
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
        color: #fff;
        
    }
    .applyonline_divbutton:hover{
        background-color: #ebca28;
    }
    .applyonline_mainrow .card{
        border-radius: 10px;
        overflow: hidden;
    }
    .applyonline_knowbtn{
        margin-top: 10%;
        border: none;
        color: #2fb68e;
        background-color: transparent;
        padding: 0;
    }
    .applyonline_knowbtn:hover{
        color: #ebca28;
    }
    .applyonline_para1{
        height: 50px;
    }
    
    
    /* apply online css ends */
     /* view container styles start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.renew_hero_container {
    margin: 0;
   }
.view_container{
    margin-top: 50px;
    background-color: rgb(219, 215, 215);
    padding: 5px;
    border-radius: 10px;
    color: black;
    padding-right: 80px;
}
   .view_containeriew_container h4{
    color: orange;
   }
   .view_container h4{
    color: orange;
     margin-left: 20px;
     }
   .view-container_headding h4{
     margin-right: 900px;
     padding-top: 80px;
     color: #2fb68e;
     margin-left: 20px;
   }
 
  .view_personai_loan p{
     margin-right: 500px;
     padding-left: 40PX;

  }
  
 .view_checkbox_conteanier{
     /* background-color: rgb(239, 248, 248); */
     box-shadow: 10px;
     border-radius: 15px;
     
 
  }
 .graph-container{
    margin-left: 500px;
    margin-bottom: 20px;
    
 }

  
  
 .view_table_product td{
     width: 100%;
     color: rgb(165, 77, 43);
     /* background-color: rgb(233, 229, 224); */
   }
  
  
  
   .view_date_container{
     
     margin-left: 700px;
   }
   
 .checkbox_containertype{
     display: flex;
     
     
   }
   .view_container_note {
     margin-top: 20px;
   }
    .garph_view{
     height: 200px;
     width: 50px;
   } 
   
  
   .view_checkbox_container input[type="checkbox"] {
     margin-bottom: 5px;
     
   }
   
   
   .table_product td, .table_product th {
     border: 1px solid; 
     padding: 8px; 
   }
   
   
   /* .table_product tbody tr:nth-child(even) {
     background-color: #f9f9f9; 
   } */
   .percentage-label {
     text-align: center;
     font-size: 18px;
     color: #333;
     margin-top: 10px;
   } 
   /* view container styles end*/
   /* loan service container styles start */
 .loan_service_container{
     background-color: rgb(223, 233, 230);
  }
  .renew_hero_container {
    margin: 0;
   }
  .loan_container_fluid {
     /* margin-right: 850px; */
     padding-top: 20px;
     -webkit-box-shadow: none;
     box-shadow: none;
     /* background-color: rgb(223, 233, 230); */
     /* color: orange; */
     margin-top: 100px;
     
    
   
  
  }
   
   .loan_container_fluid h3 {
     margin-top: 20px;
     font-size: 34px;
     color: #2fb68e;
   }
   
   .loan_service_container {
     margin-top: 20px;
     
   }
    .loan_service_container span{
  font-size: 20px;
    }
   
   .form_inline {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 15px;
     box-shadow: none;
   }
   
   .form_inline label {
     margin-right: 15px;
     box-shadow: none;
   }
   
   .loan_select {
     width: 150%;
     padding: 6px;
   }
   
  .loan_submit_container{
     background-color: rgb(223, 233, 230);
     padding-top: 20px;
     padding-bottom: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
  }
   .loan_submit_container button {
    
     color: white;
     border: none;
     border-radius: 15px;
     cursor: pointer;
     margin-left: 50px;
     background-color:#2fb68e; 
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 20px;
     font-size: larger;
    
  
   }
   /* loan service container styles end */