.accounts_requested_data_list .form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}
.accounts_requested_data_list .form-control:placeholder-shown {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
  font-size: small;
}
.requested_view_btn{
  cursor: pointer;
  text-decoration: underline;
}

.accounts_requested_data_list .requested_data_list_heading {
  color: #4a4a4a;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.714286px;
  margin-bottom: 14px;
  margin-top: 14px;
}

.accounts_requested_data_list .requested_data_list_table_content td {
  /* background-color: #f2f3f2; */
  /* width: 100%; */
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: none;
}

.accounts_requested_data_list .requested_data_list_table_head {
  /* background-color: #f2f3f2; */
  width: 100%;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 0rem;
  margin-bottom: 1rem;

  box-shadow: 0 1.90246px 4.75615px #a8b4bf;
}

.accounts_requested_data_list
  .requested_data_list_table_head
  .requested_data_list_table_headings
  th {
  padding: 15px 8px;
  background-color: #2fb68e;
  color: white;
  /* width: 30%; */
  font-weight: 600;
}

.accounts_requested_data_list
  .requested_data_list_table_head
  .requested_data_list_table_content
  td {
  padding: 8px;
  /* width: 23%; */
  color: #4a4a4aeb;
}

/* .requested_data_list_table_headings th:first-child,
.requested_data_list_table_content td:first-child {

  /* width: 10% !important; 
\
} */

.requested_data_list_icon_button {
  background: none;
  border: none;
}

.requested_data_list_submit_button {
  padding: 0px 15px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.1rem;

  background: #2fbe98;

  display: inline;
  cursor: pointer;
  text-transform: uppercase;

  text-align: center;

  border: 1px solid #2fbe98;

  /* padding-right: 8px!important;
      padding-left: 8px!important; */
}
.accounts_requested_data_list table {
  border-spacing: 0px;
}

.requested_data_list_Add_customer {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  width: auto;

  background: #2fbe98;

  display: inline;
  cursor: pointer;
  text-transform: uppercase;

  text-align: center;

  border: 1px solid #2fbe98;

  /* padding-right: 8px!important;
      padding-left: 8px!important; */
}
