@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover{

    text-decoration: none;
    background-color: transparent;
}